@import "mixins";

.content {
  background-color: $gray;
}

.categories {
  margin-top: 40px;
  @include media_interval(0, $media768) {
    margin-top: 30px;
  }
}

.description {
  margin-top: 18px;
  @include small_fontsize;

  h2, h3, h4 {
    margin: 1em 0 .2em;
    font-weight: bold;
    font-size: 1.2em;
  }

  p {
    margin-bottom: 1em;
  }
}

.order-complete {
  max-width: 480px;

  .title, .manager-contact {
    color: $white;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

@include media_interval(0, $media1050) {
  .not-mobile {
    padding: 0;
    //display: none;
  }
}

.back-slider {
  background-color: #f2f2f2;
}

#posts {
  .post {
    margin-bottom: 50px;
    @include media_interval(0, $media768) {
      margin-bottom: 30px;
    }
  }

  .date {
    color: #A0A0A0;
    margin-right: 10px;
    @include font-size(14px);
  }

  .note {
    display: inline-block;
    color: $green;
    @include font-size(14px);
  }

  .title {
    margin: 5px 0;
    color: $brown;
    font-weight: bold;
    height: 67px;
    @include font-size(24px);
  }

  .preview {
    display: block;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
}