@import 'mixins';

.contacts-form {
  .field-agreement {
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        @include opacity(0.8);
      }
    }
  }
}

#contacts-request-form {
  .field {
    width: 480px;
  }
}

#ajax-request-form {
  .field {
    width: 400px;
  }
}
