@import 'mixins';


.page-content {
  background-color: $gray;

  .addresses {
    @include flexbox;
    @include flex-flow(column);
    @include justify-content(flex-start);
    @include align-items(flex-start);

    .inner {
      display: flex;
      justify-content: space-between;

      .address-column {
        width: 300px;
        @include flexbox;
        @include flex-flow(column);
      }

      .email-column {
        width: 300px;
        @include flexbox;
        @include flex-flow(column);
      }

      .phone-column {
        width: 300px;

        .phones {
          @include flexbox;
          @include flex-flow(column);
        }
      }

      @include media_interval(0, $media1024) {
        justify-content: unset;
        flex-direction: column;

        & > div {
          width: 100% !important;
        }
      }
    }
  }

  .address {

    &:first-child {
      margin-top: 50px;
    }

    width: 100%;
    margin-top: 0;
    margin-right: 40px;
    border: 1px solid #dddddd;
    padding: 30px;
    @include border-box;
    @include small_fontsize;
    @include media_interval($media1024, 0) {
      max-width: 100%;
      @include flex(1 0 0);
      &:nth-of-type(4n) {
        margin-right: 0;
      }
    }
    @include media_interval($media400, $media1024) {
      max-width: 100%;
      @include flex(1 0 40%);
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    @include media_interval($media400, $media768) {
      margin-top: 30px;
    }
    @include media_interval(0, $media400) {
      margin-top: 20px;
      margin-right: 0;
      @include flex(1 0 100%);
    }

    .clickable {
      cursor: pointer;
    }

    .city {
      margin-bottom: 8px;
      line-height: 1;
      font-weight: bold;
      @include font-size(18px);
      @include media_interval(0, $media640) {
        @include font-size(16px);
      }
      @include media_interval(0, $media400) {
        margin-bottom: 4px;
      }
    }

    .email {
      &:hover {
        @include opacity(0.8);
      }
    }

    &:hover {
      //border-color: #fff;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);
      //background-color: #fff;
      z-index: 1;
    }
  }
}

#google-map {
  height: 400px;
  @include media_interval(0, $media768) {
    height: 300px;
  }

  .info-title {
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: bold;
  }
}
