{% load i18n %}

<div class="field {{ field_classes }} {% block add_classes %}{% endblock add_classes %}">
  {% block field %}
    {{ field }}
    <label for="{{ field.id_for_label }}">
      {% url 'policy:index' as policy_url %}
      {% url 'agreement:index' as agreement_url %}
      {% blocktrans %}I agree to the <a href="{{ policy_url }}" target="_blank">regulation</a> and <a href="{{ agreement_url }}" target="_blank">agreement</a> on Private Data Processing{% endblocktrans %}
    </label>
  {% endblock field %}
</div>