<div class="field {{ field_classes }} {% block add_classes %}{% endblock add_classes %}">
  {% block field %}
    <div class="label-holder">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    </div>

    <div class="control">
      {{ field }}

      {% block errors %}
        {% if form.render_error_message %}
          <div class="error">
            <span>{{ field_errors|first }}</span>
          </div>
        {% endif %}
      {% endblock %}
    </div>
  {% endblock field %}
</div>