<div class="field {{ field_classes }} {% block add_classes %}{% endblock add_classes %}">
  {% block field %}
    <div class="control">
      {{ field }}

      <button type="submit" class="loop"></button>
    </div>
  {% endblock field %}
</div>