{% extends 'layout.html' %}

{% load attachable_blocks %}
{% load pipeline_plus %}
{% load staticfiles %}
{% load cache %}
{% load shop %}

{% block critical_css %}
{{ block.super }}
{% inline_stylesheet 'main_critical' %}
{% endblock critical_css %}

{% block static_head %}
{{ block.super }}
{% stylesheet 'main_page' %}
{% endblock static_head %}

{% block static_js %}
{{ block.super }}
{% javascript 'main_page' %}
{% endblock static_js %}


{% block content %}

<div class="back-slider">
    <div class="grid not-mobile">
        {% render_attachable_block config.slider %}
    </div>

    <div class="page-block">
        <div class="grid-block">
            <h1 class="title-h1">{{ shop_config.header }}</h1>
            {% if shop_config.description %}
            <div class="description text-styles">
                {{ shop_config.description|safe }}
            </div>
            {% endif %}
        </div>

        {% csrf_token %}
        {% cache 600 main products %}
        {% categories_products %}
        {% endcache %}
    </div>

    <div id="posts">
        <div class="grid">
            <div class="gc">

                <h2 class="title title-h2">
                    <a href="/blog/" class="link">Статьи</a>
                </h2>
            </div>
            {% for post in posts %}
            <article class="post gc-wide-4 gc-4 gc-tablet-4" itemscope itemtype="http://schema.org/BlogPosting">
                <meta itemprop="dateModified" content="{{ post.updated|date:" c
                " }}"/>
                <link itemprop="mainEntityOfPage" href="{{ post.get_absolute_url }}"/>
                <link itemprop="author" href="#org"/>
                <link itemprop="publisher" href="#org"/>

                {% if post.preview %}
                <a href="{{ post.get_absolute_url }}" class="preview" itemprop="image" itemscope
                   itemtype="http://schema.org/ImageObject">
                    <img src="{{ post.preview.small.url }}" itemprop="url">
                    <meta itemprop="width" content="{{ post.preview.normal.target_width }}"/>
                    <meta itemprop="height" content="{{ post.preview.normal.target_height }}"/>
                </a>
                {% endif %}

                <header>
                    <time datetime="{{ post.date|date:" c
                    " }}" class="date" itemprop="datePublished">
                    {{ post.date|date:"j/n/Y" }}
                    </time>
                    {% if post.tag %}
                    <div class="note" itemprop="articleBody">
                        {{ post.tag }}
                    </div>
                    {% endif %}

                    <h2 class="title">
                        <a href="{{ post.get_absolute_url }}">
                            <span itemprop="headline">{{ post.header }}</span>
                        </a>
                    </h2>
                </header>
            </article>
            {% endfor %}
        </div>
    </div>
</div>

{% render_attached_blocks config %}

{% endblock content %}
