{% load form_helper %}
{% load i18n %}

<div class="order-cart-form input-form boxberry-form delivery-form delivery-form-3">
  <div class="form-inner"> 
    <div class="form-title"> 
      <div class="title-h2 title">Пункт выдачи Boxberry:</div>
    </div> 
    <div class="form-fields"> 
      {% render_form boxberry_address_form %}

      <button type="button" class="btn btn-medium boxberry-popup">
        <span>{% trans 'Choose' %}</span>
      </button>
    </div>
  </div> 
</div> 