{% load form_helper %}

<div class="order-cart-form comment-form">
  <div class="form-inner">
    <div class="form-title">
      <div class="title-h2 title">Комментарии к заказу:</div>
    </div>

    <div class="form-fields">
      {% render_form comment_form %}
    </div>
  </div>
</div>