{% load form_helper %}

<div class="order-cart-form input-form delivery-form delivery-form-1">
  <div class="form-inner">
    <div class="form-title">
      <div class="title-h2 title">Адрес доставки:</div>
    </div>
    <div class="form-fields">
      {% render_form delivery_address_form %}
    </div>
  </div>
</div>
