{% load shop %}

<div class="order-cart-form order-type-form">
  <div class="form-inner">
    <div class="form-title">
      <div class="title-h2 title">Способ доставки:</div>
    </div>
    <div class="form-fields">
      <fieldset id="order-type" class="block-fieldset">
        {% for opt in order_type_form.order_type %}
          <div class="custom-radio-wrapper" data-value="{{ opt.choice_value }}">
            <label for="{{ opt.id_for_label }}">
              <input type="radio" name="{{ opt.name }}" value="{{ opt.choice_value }}" id="{{ opt.id_for_label }}" {% if opt.choice_value == opt.value %}checked{% endif %} style="display: none;">
              {{ opt.choice_label }}
              <div class="description">{{ opt.choice_value|type_option:"note" }}</div>
            </label>
            <div class="time">{{ opt.choice_value|type_option:"period" }}</div>
            <div class="price">{{ opt.choice_value|type_option:"cost" }}</div>
          </div>
        {% endfor %}
      </fieldset>
    </div>
  </div>
</div>