{% load i18n %}

<div class="order-total">
  <div class="total-text">К оплате:</div>
  <div class="title title-h1 total-cost">{{ cart.total_price }}</div>
  <div class="total-buttons">
    <button type="submit" class="submit-button btn btn-medium" data-agreement>
      <span>{% trans 'Continue' %}</span>
    </button>
    <button type="submit" class="btn btn-medium request-popup">
      <span>{% trans 'Connect with manager' %}</span>
    </button>
  </div>
</div>
