<div class="order-header">
  <div class="grid-block">
    <div class="order-header-inner">
      <div class="title-h1 title">Оформление заказа</div>
      <div class="btn btn-medium btn-white request-popup"><span>Оформить заказ по телефону</span></div>
    </div>
  </div>
</div>