<div class="order-cart-form">
  <div class="form-inner">
    <div class="form-title">
      <div class="title-h2 title">Способ оплаты:</div>
    </div>
    <div class="form-fields">
      <fieldset id="payment-type" class="block-fieldset">
        {% for opt in payment_type_form.payment_type %}
          <div class="custom-radio-wrapper" data-value="{{ opt.choice_value }}">
            <label for="{{ opt.id_for_label }}">
              <input type="radio" name="{{ opt.name }}" value="{{ opt.choice_value }}" id="{{ opt.id_for_label }}" {% if opt.choice_value == opt.value %}checked{% endif %} style="display: none;">
              {{ opt.choice_label }}
              {% if opt.choice_value == '3' %}
                <div class="description">Visa, Mastercard, Яндекс.Деньги, Терминалы и кассы, WebMoney</div>
              {% endif %}
            </label>
          </div>
        {% endfor %}
      </fieldset>
    </div>
  </div>
</div>