{% load form_helper %}

<div class="order-cart-form input-form delivery-form delivery-form-2">
  <div class="form-inner"> 
    <div class="form-title"> 
      <div class="title-h2 title">Пункт выдачи:</div>
    </div> 
    <div class="form-fields"> 
      {% render_form pickup_address_form %}
    </div> 
  </div> 
</div> 