{% load form_helper %}

<div class="input-form order-cart-form">
  <div class="form-inner">
    <div class="form-title">
      <div class="title-h2 title">Ваши данные:</div>
    </div>
    <div class="form-fields">
      {% render_form recipient_form %}
    </div>
  </div>
</div>
