@import "mixins";

$fixed_slider_media: $media1024;
$fixed_slider_media2: $media480;

#mainslider_block {
  cursor: default;
  @include media_interval($media1050, 0) {
    padding: 40px 10px 0;
  }

  @include media_interval(0, $media1100) {
    display: none;
  }

  .no-slider {
    .slider-item ~ .slider-item {
      display: none;
    }
  }

  .slider-item {
    height: 400px;
    text-align: left;

    img {
      max-height: 400px;
      @include media_interval(0, $media1700) {
        height: 100%;
        min-width: 100%;
        position: absolute;
        left: 50%;
        width: auto;
        z-index: 1;
        @include transform(translateX(-50%));
      }
    }
  }

  .slider-arrow {
    @include transition(background-color 0.5s, opacity 0.5s);
    @include media_interval(0, $media768) {
      display: none;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }

    span {
      width: 22px;
      @include media_interval(0, $media1200) {
        width: 20px;
      }
    }
  }

  .slider-navigation {
    position: absolute;
    width: 100%;
    min-height: 50px;
    left: 0;
    bottom: 0;
    z-index: 5;
    @include media_interval(0, $media768) {
      min-height: 40px;
    }
  }

  .overlay {
    position: absolute;
    padding-top: 100px;
    padding-bottom: 50px;
    left: 50%;
    top: 0;
    height: 100%;
    z-index: 3;
    @include user-select(none);
    @include flexbox;
    @include border-box;
    @include flex-flow(column nowrap);
    @include transform(translateX(-50%));
    @include media_map((padding-left, padding-right), $grid_full_paddings);
    @include media_interval(0, $media1700) {
      position: relative;
      min-height: inherit;
    }
    @include media_interval($media480, $media1400) {
      padding-top: 90px;
    }
    @include media_interval(0, $media480) {
      padding-top: 60px;
    }
    @include media_interval(0, $media768) {
      padding-bottom: 50px;
    }

    .inner {
      position: relative;
      color: $white;
      z-index: 1;
      @include flexbox;
      @include flex(1 auto);
      @include flex-flow(column nowrap);
    }

    .title {
      position: relative;
      font-weight: bold;
      line-height: 1.14;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-top: 5px;
      @include font-size(50px);
      @include flex(1 auto);
      @include media_interval(0, $fixed_slider_media) {
        margin-bottom: 5%;
      }
      @include media_interval($media900, $media1700) {
        @include font-size(44px);
      }
      @include media_interval($media480, $media900) {
        letter-spacing: 1px;
        @include font-size(38px);
      }
      @include media_interval(0, $media480) {
        @include font-size(28px);
      }

      .leaf {
        position: absolute;
        left: 0;
        top: -65px;
        width: 30px;
        @include media_interval($media1400, 0) {
          left: 3px;
        }
        @include media_interval($media900, $media1400) {
          top: -52px;
          width: 32px;
        }
        @include media_interval($media480, $media900) {
          top: -50px;
          width: 30px;
        }
        @include media_interval(0, $media480) {
          top: -34px;
          width: 21px;
        }

        &:before {
          content: '';
          display: block;
          height: 0;
          padding-bottom: 150%;
          background: $sprite_url no-repeat rel-background-position(36px, 54px, 0px, -187px);
          background-size: rel-background-size(36px, 54px);
        }
      }
    }

    .price {
      font-weight: 100;
      margin-bottom: 6px;
      @include user-select(none);
      @include font-size(50px);

      @include media_interval($media768, $media1700) {
        @include font-size(46px);
      }
      @include media_interval($media480, $media768) {
        @include font-size(42px);
      }
      @include media_interval(0, $media480) {
        font-weight: normal;
        @include font-size(40px);
      }
    }

    .btn {
      min-width: 180px;
    }
  }
}