@import "mixins";


#suppliers_block {
  background-color: $white;
  padding-top: 64px;
  .suppliers {
    overflow: hidden;
    @include flexbox;
    @include flex-flow(row wrap);
    @include align-items(center);
    @include justify-content(space-between);
    @include media_interval($media640, 0) {
      max-height: 130px;
    }
    @include media_interval(0, $media640) {
      padding: 0 $grid_column_gap;
      margin-top: 10px;
    }
  }

  .supplier {
    display: block;
    max-width: 200px;
    @include media_interval($media640, 0) {
      margin: 30px $grid_column_gap 0;
      @include flex(1 0 120px);
    }
    @include media_interval(0, $media640) {
      @include flex-columns(2, #{2 * $grid_column_gap}, 10px);
    }
  }
}