@import "mixins";


// Controls
.slider-arrow {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 60px;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  @include opacity(0.5);
  @include unselectable;
  @include transition(opacity 0.5s);

  &.slider-arrow-left {
    left: 0;
    @include transform(rotate(180deg));
  }

  &.slider-arrow-right {
    right: 0;
  }

  &.slider-arrow-disabled {
    cursor: default;
    @include opacity(0.2);
  }

  &:hover {
    @include opacity(1);
  }

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 28px;
    @include transform(translate3d(-50%, -50%, 0));

    &:before {
      content: '';
      display: block;
      height: 0;
      padding-bottom: 185.71%;
      background: $sprite_url no-repeat rel-background-position(28px, 52px, -28px, -82px);
      background-size: rel-background-size(28px, 52px);
    }
  }
}