@import "mixins";

$item_size: 18px;
$item_gap: 4px;

// Navigation
.slider-navigation {
  text-align: center;
  @include valign_after;
  @include unselectable;

  .slider-navigation-item {
    display: inline-block;
    position: relative;
    width: $item_size;
    height: $item_size;
    margin-right: $item_gap;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    @include no_fontsize;
    @include valign_after;
    &:nth-last-of-type(1) {
      margin-right: 0;
    }

    // dot
    &:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      vertical-align: middle;
      background-color: $white;
      @include border_radius(50%);
      @include transition-property(-webkit-transform, transform, color);
      @include transition-duration(0.3s);
    }

    &:hover {
      &:before {
        background-color: rgba($white, 0.8);
      }
    }

    &.active {
      &:before {
        background-color: rgba($green, 1);
      }
    }
  }

  &.slider-navigation-disabled {
    .slider-navigation-item {
      display: none;
    }
  }
}