@import "mixins";

.left-column {
  padding-right: 5%;
  @include media_interval(0, $media1024) {
    padding-right: 0;
  }
}

.right-column {
  @include media_interval(0, $media1024) {
    margin-top: 36px;
  }
}

.overlay {
  position: relative;
  color: $white;
  z-index: 3;
}

.content-header {
  position: relative;
  overflow: hidden;
  z-index: 1;
}