{% load i18n %}

<p>
  {% blocktrans with domain=site.domain site=site.name %}Вас приветствует интернет магазин
    <a href="http://{{ domain }}/" target="_blank">{{ site }}</a>
  (ООО «СТРОЙСАД»){% endblocktrans %}
</p>

<p>
  Мы получили ваш заказ № {{ order.pk }}
</p>

<table border="1" cellpadding="10" cellspacing="0">
  <tr>
    <th style="text-align: left">{% trans 'Order type' %}</th>
    <td>{{ order.str_order_type }}</td>
  </tr>

  {% if order.order_type == order.DELIVERY_TYPE %}
    <tr>
      <th style="text-align: left">{% trans 'Address' %}</th>
      <td>{{ order.address }}</td>
    </tr>
  {% elif order.order_type == order.PICKUP_TYPE %}
    <tr>
      <th style="text-align: left">{% trans 'Warehouse' %}</th>
      <td>{{ order.warehouse }}</td>
    </tr>
  {% elif order.order_type == order.BOXBERRY_TYPE %}
    <tr>
      <th style="text-align: left">{% trans 'Warehouse' %}</th>
      <td>{{ order.boxberry_address }}</td>
    </tr>
  {% endif %}

  <tr>
    <th style="text-align: left">{% trans 'Payment type' %}</th>
    <td>{{ order.str_payment_type }}</td>
  </tr>

  <tr>
    <th style="text-align: left">{% trans 'Recipient' %}</th>
    <td>{{ order.recipient }}</td>
  </tr>

  <tr>
    <th style="text-align: left">Товары</th>
    <td>
      {% for product in order.order_products.all %}
        {{ product }} = {{ product.total_cost }}<br/>
      {% endfor %}
    </td>
  </tr>

  <tr>
    <th style="text-align: left">{% trans 'Total cost' %}</th>
    <td>{{ order.total_cost.alternative }}</td>
  </tr>
</table>

<p>
  Спасибо, что выбрали нашу компанию.<br/>
  В ближайшее время с вами свяжется менеджер для подтверждения вашего заказа.
</p>

<p>
  * Обработка заказов осуществляется с 9:00 до 18:00 мск., пн-сб.
</p>
