{% load i18n %}

<p>
  {% blocktrans with domain=site.domain site=site.name %}New order was created at the
    <a href="http://{{ domain }}/" target="_blank">{{ site }}</a>{% endblocktrans %}
</p>

<table border="1" cellpadding="10" cellspacing="0">
  <tr>
    <th style="text-align: left">{% trans 'Order type' %}</th>
    <td>{{ order.str_order_type }}</td>
  </tr>

  {% if order.order_type == order.DELIVERY_TYPE %}
    <tr>
      <th style="text-align: left">{% trans 'Address' %}</th>
      <td>{{ order.address }}</td>
    </tr>
  {% elif order.order_type == order.PICKUP_TYPE %}
    <tr>
      <th style="text-align: left">{% trans 'Warehouse' %}</th>
      <td>{{ order.warehouse }}</td>
    </tr>
  {% elif order.order_type == order.BOXBERRY_TYPE %}
    <tr>
      <th style="text-align: left">{% trans 'Warehouse' %}</th>
      <td>{{ order.boxberry_address }}</td>
    </tr>
  {% endif %}


  <tr>
    <th style="text-align: left">{% trans 'Payment type' %}</th>
    <td>{{ order.str_payment_type }}</td>
  </tr>

  <tr>
    <th style="text-align: left">{% trans 'Recipient' %}</th>
    <td>{{ order.recipient }}</td>
  </tr>

  <tr>
    <th style="text-align: left">{% trans 'Total cost' %}</th>
    <td>{{ order.total_cost.alternative }}</td>
  </tr>
</table>

<p>
  <a href="http://{{ site.domain }}{% url 'admin:shop_shoporder_change' order.pk %}" target="_blank">
    {% trans 'See details' %}
  </a>
</p>