@import "mixins";

.left-column {
  padding-right: 5%;
  @include media_interval(0, $media1024) {
    padding-right: 0;
  }
}

.right-column {
  @include media_interval(0, $media1024) {
    margin-top: 36px;
  }
}

.overlay {
  position: relative;
  color: $white;
  z-index: 3;
}

.page-content {
  position: relative;
  overflow: hidden;
  z-index: 1;

  .delivery-grid {
    margin-top: 66px;
    @include media_interval(0, $media768) {
      margin-top: 56px;
    }
  }

  .subtitle {
    color: $white;
    margin-bottom: 30px;
    @include media_interval(0, $media768) {
      margin-bottom: 18px;
    }
  }
}