@import 'mixins';

$menu_point1280: 1280px;
$menu_point1080: 1080px;

#main-menu {
  border-top: 2px solid #EEEBE9;
  border-bottom: 2px solid #EEEBE9;
  @include media_interval(0, $media1100) {
    display: none;
  }

  ul {
    padding: 8px 0;
    @include flexbox;
    @include flex-flow(row wrap);
    @include justify-content(space-between);

    li {
      margin-right: 16px;
      color: $brown;
      @include font-size(16px);
      @include media_interval(0, $menu_point1280) {
        font-weight: bold;
        @include font-size(14px);
      }
      &:nth-last-of-type(1) {
        margin-right: 0;
      }

      &:hover {
        color: #808285;
      }

      &.active a {
        color: #81bc35;
      }
    }

    a {
      display: inline-block;
      padding: 10px 0 8px;
      line-height: 1;
      white-space: nowrap;
    }
  }
}

// Кнопка меню для мобильной версии
$menu_line_height: 3px;
$menu_line_gap: 5px;
#mobile-menu-button {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 3 * $menu_line_height + 2 * $menu_line_gap;
  cursor: pointer;
  text-align: left;
  z-index: 55;
  vertical-align: middle;
  @include unselectable;

  &:before, &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: $menu_line_height;
    background: $brown;
  }
  &:before {
    top: 0;
    @include box-shadow($brown 0 ($menu_line_height + $menu_line_gap) 0 0);
    @include transform(translate3d(0, 0, 0) rotate(0deg));
    @include transition-property(-webkit-transform, transform, box-shadow, top);
    @include transition-duration(0.55s, 0.55s, 0.2s, 0.2s);
    @include transition-delay(0s, 0s, 0.45s, 0.45s);
    @include transition-timing-function(ease-in);
  }
  &:after {
    top: 100%;
    @include transform(translate3d(0, -100%, 0) rotate(0deg));
    @include transition-property(-webkit-transform, transform, top);
    @include transition-duration(0.55s, 0.55s, 0.2s);
    @include transition-delay(0s, 0s, 0.45s);
    @include transition-timing-function(ease-in);
  }

  @at-root .main-menu-opened & {
    &:before {
      top: 50%;
      @include box-shadow(transparent 0 0 0 0);
      @include transform(translate3d(0, -50%, 0) rotate(225deg));
      @include transition-delay(0.1s, 0.1s, 0s, 0s);
      @include transition-timing-function(ease-out);
    }

    &:after {
      top: 50%;
      @include transform(translate3d(0, -50%, 0) rotate(315deg));
      @include transition-delay(0.1s, 0.1s, 0s);
      @include transition-timing-function(ease-out);
    }
  }
}

#mobile-menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  right: -100%;
  z-index: 50;
  text-align: center;
  background-color: $green;
  @include transition(right 0.5s);
  @include media_interval(0, $media1100) {
    display: block;
  }

  @at-root .main-menu-opened & {
    right: 0;
  }

  ul {
    padding: 30px 0;
  }

  li {
    padding: 8px 0;
    color: $white;
    font-weight: bold;
    @include font-size(20px);

    &.active {
      color: $brown;
    }
  }
}