{% load i18n %}

<div class="order-complete">
    <div class='title-h1 title-font clr-1-txt title'>{{ config.payment_text|safe }}</div>
    <a href="" class="btn btn-white btn-medium close-popup"><span>{% trans 'Done' %}</span></a>
</div>