{% extends 'layout.html' %}

{% load pipeline_plus %}
{% load text %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'delivery_page' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'delivery_page' %}
{% endblock static_js %}


{% block content %}

  <div class="page-content green-overlay">
    <img src="{{ config.background.desktop.url }}" class="parallax"
         srcset="{{ config.background.desktop.srcset }},
                {{ config.background.tablet.srcset }},
                {{ config.background.mobile.srcset }}"
         sizes="100vw" alt="{{ config.background_alt }}">

    <div class="overlay block">
      <div class="payment-grid grid">
        <div class="gc">
          <h1 class="page-title title-h1">{{ config.header }}</h1>
        </div>

        <div class="left-column gc-wide-6 gc-6">
          <h2 class="subtitle title-h2">{{ config.pay_title }}</h2>
          <div class="text-styles">{{ config.pay_text|typograf|safe }}</div>
        </div>

        <div class="right-column gc-wide-6 gc-6">
          <div class="advantages">
            {% for advantage in config.pay_advantages.all %}
              <div class="advantage">
                <div class="icon-green icon-{{ advantage.icon }}"></div>
                <div class="name">{{ advantage.title }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="delivery-grid grid">
        <div class="left-column gc-wide-6 gc-6">
          <h2 class="subtitle title-h2">{{ config.delivery_title }}</h2>
          <div class="text-styles">{{ config.delivery_text|typograf|safe }}</div>
        </div>

        <div class="right-column gc-wide-6 gc-6">
          <div class="advantages">
            {% for advantage in config.delivery_advantages.all %}
              <div class="advantage">
                <div class="icon-green icon-{{ advantage.icon }}"></div>
                <div class="name">{{ advantage.title }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
