@import 'mixins';

// когда прятать Prev / Next
$hide_nav: $media600;

.navigation {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  @include flexbox;
  @include font-size(14px);
  @include flex-flow(row wrap);
  @include align-items(center);
  @include justify-content(center);

  .nav-item {
    width: 10px;
    height: 16px;
    margin: 0 10px;
    background: $sprite_url no-repeat -108px -254px;

    @include media_interval(0, $hide_nav) {
      display: none;
    }

    &.prev-page {
      @include transform(rotate(180deg));
    }

    &.next-page {

    }

    &:hover {
      @include opacity(0.8);
    }

    &.disabled {
      @include opacity(0.4);
    }
  }

  .pages {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include flex-flow(row nowrap);
  }

  .page {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    padding: 1px 0 3px;
    width: 40px;
    height: 40px;
    z-index: 1;
    color: $white;
    line-height: 1;
    font-weight: bold;
    background-color: $green;
    @include border-box;
    @include small_fontsize;
    @include flexbox;
    @include align-items(center);
    @include flex-flow(row nowrap);
    @include justify-content(center);
    @include box-shadow(0px 3px 6px rgba(128, 128, 128, 0.4));
    @include media_interval(0, $media640) {
      margin-right: 6px;
      width: 36px;
      height: 36px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background-color: #618e29;
    }

    &:nth-child(1) {
      margin-left: 0;
    }
    &:nth-last-child(1) {
      margin-right: 0;
    }

    &.zip-item {
      min-width: 1.2em;
      margin: 0;
    }

    &.active {
      color: $green;
      background-color: $white;
      @include box-shadow(0px 3px 6px rgba(128, 128, 128, 0.4));
      &:before {
        display: none;
      }
    }

    &.link:hover {
      background: lighten($green, 10);
    }
  }
}