@keyframes social-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ui-dialog.autopost-preload:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(51, 51, 51, 0.3);
    -webkit-animation: social-opacity 0.1s forwards linear;
    -o-animation: social-opacity 0.1s forwards linear;
    animation: social-opacity 0.1s forwards linear;
}

.ui-dialog.autopost-preload:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 40px;
    height: 40px;
    background: url(../img/preloader.svg) no-repeat center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: social-opacity 0.1s forwards linear;
    -o-animation: social-opacity 0.1s forwards linear;
    animation: social-opacity 0.1s forwards linear;
}

.autopost-form .field {
    margin-top: 12px;
}

.autopost-form label {
    font-weight: bold;
}

.autopost-form ul {
    margin: 0;
    list-style: none;
}

.autopost-form ul label {
    display: inline-block;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.autopost-form ul input {
    margin: -2px 2px 0 0;
}

