{% load staticfiles %}

<div class="testimonials page-block">
  <div class="grid">
    <div class="gc">
      <div class="title-h2">{{ config.header }}</div>
    </div>

    <ul>
      {% for testimonial in testimonials %}
        <li class="testimonial">
          <div class="photo">
            <img class="" src="{{ testimonial.photo.normal.url }}" alt="">
          </div>
          <div class="info">
            <div class="name">{{ testimonial.name }}</div>
            <div class="position">{{ testimonial.position }}</div>
          </div>
          <div class="text">{{ testimonial.text }}</div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>