//=======================
// Точки для media-queries
//=======================
$media1700: 1700px;
$media1400: 1400px;
$media1280: 1280px;
$media1200: 1200px;
$media1100: 1100px;
$media1050: 1050px;
$media1024: 1024px;
$media940: 940px;
$media900: 900px;
$media860: 860px;
$media800: 800px;
$media768: 768px;
$media720: 720px;
$media640: 640px;
$media600: 600px;
$media560: 560px;
$media480: 480px;
$media400: 400px;
$media380: 380px;
$media360: 360px;

//=======================
// Сетка
//=======================
$cols_wide: 12;
$cols_desktop: 12;
$cols_tablet: 8;
$cols_mobile: 4;

// Максимальная ширина сетки
$grid_max_width: 1400px;

// Боковые границы каждого столбца
$grid_column_gap: 10px;

$m1200: ($media1200, 0);
// Боковые границы сетки
$grid_paddings: (
        $m1200: 80px,
                ($media768, $media1200): 50px,
                ($media600, $media768): 30px,
                (0, $media600): 10px,
);

// Боковые границы сетки с прибавлением границы столбца
$grid_full_paddings: ();
@each $key, $value in $grid_paddings {
  $grid_full_paddings: map-merge($grid_full_paddings, (
          $key: $value + $grid_column_gap
  ))
}

//=======================
// Sprite
//=======================
$sprite_url: url(/static/img/sprite.svg);
$sprite_width: 832px;
$sprite_height: 295px;

//=======================
// Цвета
//=======================
$text_color: #444444;
$white: #FFFFFF;
$yellow: #FEDE0F;
$green: #82BD36;
$gray: #F2F2F2;
$dark_gray: #AD9D94;
$brown: #5B3C2A;
$red: #D80000;
$overlay_brown: rgba(#2B4400, 0.4);

//=======================
// Меню
//=======================
$menu_burger_color: #82BD36;
$menu_burger_width: 28px;
$menu_burger_line_height: 4px;
$menu_burger_line_space: 5px;

// интервал показа мобильного меню
$media_mobile: $media768;
$m1024: ($media1024, 0);
// отступы страниц
$page_margin: (
        $m1024: 64px,
                ($media768, $media1024): 50px,
                (0, $media768): 40px,
);
