@import 'mixins/all';
@import 'conf';

//=========================================
//  Размеры шрифта
//=========================================
@mixin fontsize_default() {
  @include font-size(18px);
  @include media_interval(0, $media640) {
    @include font-size(14px);
  }
}

@mixin small_fontsize() {
  @include font-size(16px);
  @include media_interval(0, $media640) {
    @include font-size(14px);
  }
}

//=========================================
//  Шрифты
//=========================================
@mixin font_default() {
  font-family: 'Lato', sans-serif;
}
