@import 'mixins';


.custom-radiobox {
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  vertical-align: top;
  background: $sprite_url no-repeat -55px -254px;

  &.checked {
    background-position: -37px -254px;
  }
}

.custom-radio-wrapper {
  margin-bottom: 10px;
  @include fontsize_default;
  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }

  .custom-radiobox {
    position: absolute;
    left: 0;
    top: 3px;
    z-index: 2;
    @include media_interval(0, $media640) {
      top: 0;
    }
  }

  & > label {
    position: relative;
    padding-left: 30px;
    margin-bottom: 0;
    z-index: 1;
    @include media_interval(0, $media400) {
      padding-left: 26px;
    }
  }
}