@import 'mixins';


.custom-counter {
  @include flexbox;
  @include flex-flow(row nowrap);
  @include justify-content(flex-start);
  @include align-items(center);
  @include box-shadow(0px 3px 6px rgba(128, 128, 128, 0.4));

  .custom-counter-button {
    width: 40px;
    padding: 1px 0 0;
    @include unselectable;
    @include font-size(17px);
    @include media_interval(0, $media480) {
      width: 36px;
    }
  }

  input.custom-counter-input {
    padding: 8px 8px 9px;
    width: 60px;
    color: #5b3c2a;
    font-weight: bold;
    text-align: center;
    @include font_default;
    @include font-size(16px, 22px);
    @include media_interval(0, $media480) {
      padding: 7px 8px 7px;
    }
  }
}