@import 'mixins';


.custom-checkbox {
  display: inline-block;
  margin-top: 3px;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  vertical-align: top;
  background: $sprite_url no-repeat -19px -254px;
  @include media_interval(0, $media640) {
    margin-top: 0;
  }

  &.checked {
    background-position: -1px -254px;
  }
}