@import "mixins";


#content-wrapper {
  .content {
    background-color: $gray;
  }
}


h1.title-h1 {
  margin: 0 0 16px 0;
  color: $green;
  @include font-size(150px);
  @include media_interval(0, $media640) {
    @include font-size(120px);
  }
}
