@import 'mixins';


form {
  max-width: 100%;
  @include border-box;
}

// стандартные стили полей в форме
.field {
  margin-bottom: 25px;
  max-width: 100%;
  @include border-box;
  @include media_interval(0, $media480) {
    margin-bottom: 16px;
  }
  &:last-of-type {
    margin-bottom: 0;
  }

  .label-holder {
    margin-bottom: 4px;
    text-align: left;
    @include font-size(16px);
  }

  .control {
    max-width: 100%;
    font-weight: bold;
    @include border-box;
    @include font_default;
    @include font-size(16px);
    @include media_interval(0, $media480) {
      width: 100%; // fix old safari
    }

    input, select, textarea {
      padding: 8px 16px 9px;
      width: 100%;
      color: $brown;
      border: 0 solid;
      @include transition(border 0s 0.1s, padding 0s 0.1s);
      @include media_interval(0, $media480) {
        padding: 7px 10px;
      }

      &:focus {
        @include box-shadow(0px 3px 6px rgba(0, 0, 0, 0.15));
      }

      &:read-only {
        background: #eeeeee;
        border: 1px solid #a0a0a0;
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  // класс на поле с ошибкой
  &.invalid {
    .control {
      input, select, textarea {
        border: 2px solid $red;
        padding: 8px 14px 7px;
        @include transition(border 0s 0s, padding 0s 0s);
        @include media_interval(0, $media480) {
          padding-left: 8px;
        }
      }
    }

    .error {
      max-height: 46px;
      @include transition(max-height 0.5s);
    }
  }

  // класс текстового описания ошибки
  .error {
    overflow: hidden;
    max-height: 0;
    vertical-align: middle;
    @include transition(max-height 0.2s);
    @include no_fontsize;

    > span {
      display: inline-block;
      padding: 3px 8px 4px;
      color: $white;
      line-height: 1.1;
      background-color: $red;
      @include font-size(12px);
    }
  }
}

// блок с кнопками под формой
.form-buttons {
  margin-top: 36px;
  @include media_interval(0, $media480) {
    margin-top: 24px;
  }
}


.green-form {
  padding: 36px 50px;
  max-width: 580px;
  color: $white;
  background-color: $green;
  @include fontsize_default;
  @include media_interval(0, $media480) {
    padding: 36px 20px;
  }

  .title {
    color: $white;
    margin-bottom: 30px;
    @include media_interval(0, $media480) {
      margin-bottom: 16px;
    }
  }

  .form-buttons {
    margin-top: 25px;
    @include media_interval(0, $media480) {
      margin-top: 18px;
    }
  }

  .submit-btn {
    width: 50%;
    min-width: 150px;
  }
}

/*
    Кастомизация чекбоксов.
    ОБЯЗАТЕЛЬНО наличие label после input.
*/
$checkbox_size: 14px;
$checkbox_background: #FFFFFF;
$checkbox_border_width: 1px;
$checkbox_border_color: #A0A0A0;
$checkbox_icon_size: (13px, 10px);
$checkbox_icon_offset: (1px, 3px);      // left, top

input[type=checkbox] {
  // прячем оригинал
  position: absolute;
  width: auto;
  left: -9999px;
  @include opacity(0);

  & + label {
    position: relative;
    display: inline-block;
    padding-left: $checkbox_size + 10px;
    margin: 0;
    @include border-box;
    @include font-size(16px);
    line-height: $checkbox_size + 2 * $checkbox_border_width;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: $checkbox_size;
      height: $checkbox_size;
      z-index: 1;
      background: $checkbox_background;
      border: $checkbox_border_width solid $checkbox_border_color;
      @include border_radius(2px);
    }

    // переключатель
    &:after {
      content: '';
      position: absolute;
      left: nth($checkbox_icon_offset, 1);
      top: nth($checkbox_icon_offset, 2);
      width: nth($checkbox_icon_size, 1);
      height: nth($checkbox_icon_size, 2);
      z-index: 1;
      background: $sprite_url no-repeat -2px -257px;
      @include opacity(0);
      @include transition(opacity 0.1s);
    }
  }

  &:checked {
    & + label {
      &:after {
        @include opacity(1);
      }
    }
  }

  &:disabled {
    & + label {
      &:before {
        background: darken($checkbox_background, 10%);
      }
    }

    &:checked {
      & + label {
        &:after {
          @include opacity(0.5);
        }
      }
    }
  }
}

/*
    Кастомизация радиоксов.
    ОБЯЗАТЕЛЬНО наличие label после input.
*/
$radiobox_size: 14px;
$radiobox_background: #FFFFFF;
$radiobox_border_width: 1px;
$radiobox_border_color: #5B3C2A;
$radiobox_dot_gap: 3px;
$radiobox_dot_color: #5B3C2A;
$radiobox_dot_size: $radiobox_size - 2 * $radiobox_dot_gap;

input[type=radio] {
  // прячем оригинал
  position: absolute;
  width: auto;
  left: -9999px;
  @include opacity(0);

  & + label {
    position: relative;
    display: inline-block;
    padding-left: $radiobox_size + 12px;
    margin: 0;
    @include border-box;
    @include font-size(16px);
    line-height: $radiobox_size + 2 * $radiobox_border_width;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: $radiobox_size;
      height: $radiobox_size;
      z-index: 1;
      background: $radiobox_background;
      border: $radiobox_border_width solid $radiobox_border_color;
      @include border_radius(50%);
    }

    // переключатель
    &:after {
      content: '';
      position: absolute;
      top: $radiobox_border_width + $radiobox_dot_gap;
      left: $radiobox_border_width + $radiobox_dot_gap;
      width: $radiobox_dot_size;
      height: $radiobox_dot_size;
      z-index: 1;
      background: $radiobox_dot_color;
      @include opacity(0);
      @include border_radius(50%);
      @include transition(opacity 0.2s);
    }
  }

  &:checked {
    & + label {
      &:after {
        @include opacity(1);
      }
    }
  }

  &:disabled {
    & + label {
      &:before {
        background: darken($radiobox_background, 10%);
      }
    }

    &:checked {
      & + label {
        &:after {
          @include opacity(0.5);
        }
      }
    }
  }
}

