@import 'mixins';

@include global-reset;

html, body {
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  z-index: 1;
  color: $text_color;
  line-height: 1.38;
  letter-spacing: 0.4px;
  @include no_fontsize;
  @include font_default;
}

// Скрытый элемент
.hidden {
  display: none;
}

// Основной контейнер
#wrapper {
  position: relative;
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  z-index: 1;

  #header-wrapper {
    display: table-row;
    height: 0;

    & > header {
      display: table-cell;
      height: 0;
      vertical-align: top;
      z-index: 2;
    }
  }

  #content-wrapper {
    display: table-row;

    & > .content {
      display: table-cell;
      position: relative;
      z-index: 1;
      vertical-align: top;
    }
  }

  #footer-wrapper {
    display: table-row;
    height: 0;

    & > footer {
      display: table-cell;
      height: 0;
      vertical-align: top;
    }
  }
}

// Полноэкранный блок
.section {
  position: relative;
  overflow: hidden;
  display: block;
  color: #FFFFFF;
  text-align: center;
  @include border-box;
  @include no_fontsize;
  @include valign_after;

  &.section-full-height {
    height: 768px; // for old
    height: 100vh;
  }

  .section-image {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100.1%;
    min-height: 100.1%;
    z-index: 2;
    @include transform(translate3d(-50%, -50%, 0));
    @include backface-visibility(hidden);
  }

  .section-video {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100.1%;
    min-height: 100.1%;
    z-index: 3;
    @include backface-visibility(hidden);
    @include transform(translate3d(-50%, -50%, 0));

    &::-webkit-media-controls {
      display: none;
    }
  }
  @at-root .js & .section-video {
    visibility: hidden;
  }
  @at-root .js &.video-loaded .section-video {
    visibility: visible;
  }

  .section-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 5;
    vertical-align: middle;
    @include border-box;
  }
}

// Button
.btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 1px 20px 0;
  height: 32px;
  color: $white;
  line-height: 1;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.4px;
  vertical-align: middle;
  @extend .btn-green;
  @include border-box;
  @include font-size(14px);
  @include box-shadow(0px 3px 6px rgba(128, 128, 128, 0.4));
  @include media_interval(0, $media480) {
    height: 30px;
  }

  span {
    position: relative;
    display: inline-block;
    height: 100%;
    z-index: 3;
    @include valign_after;
  }

  // линия
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    z-index: 1;
  }

  // оверлей
  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &.btn-green {
    background-color: $green;

    &:before {
      background-color: #74A829;
    }

    &:hover {
      &:after {
        content: '';
        background-color: rgba(255, 255, 255, 0.15);
      }
    }

    &:active {
      &:after {
        content: '';
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }

  &.btn-brown {
    background-color: $brown;

    &:before {
      background-color: #442D1F;
    }

    &:hover {
      &:after {
        content: '';
        background-color: rgba(255,255,255, 0.15);
      }
    }

    &:active {
      &:after {
        content: '';
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }

  &.btn-white {
    color: $brown;
    background-color: $white;

    &:before {
      background-color: #D8D8D8;
    }

    &:hover {
      &:before {
        z-index: 3;
      }
      &:after {
        content: '';
        background-color: rgba(0,0,0,0.04);
      }
    }

    &:active {
      &:before {
        z-index: 3;
      }
      &:after {
        content: '';
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }

  &.btn-medium {
    height: 40px;
    @include media_interval(0, $media480) {
      height: 36px;
      padding: 0 14px;
    }

    &:before {
      height: 3px;
    }
  }

  &.btn-big {
    height: auto;
    padding: 18px;
    min-height: 50px;
    line-height: 1.2;
    font-weight: normal;
    white-space: normal;
    @include font-size(18px);
    @include media_interval(0, $media1200) {
      @include font-size(16px);
    }

    &:before {
      height: 3px;
    }
  }

  &.disabled {
    cursor: default;
    color: #777;
    background-color: #D7D7D7;
    &:before {
      background-color: #C3C3C3;
    }
  }
}

// Заголовки
.title-h1 {
  color: $brown;
  line-height: 1;
  font-weight: bold;
  @include font-size(38px);
  @include media_interval($media640, $media900) {
    @include font-size(32px);
  }
  @include media_interval($media480, $media640) {
    @include font-size(30px);
  }
  @include media_interval(0, $media480) {
    @include font-size(22px);
  }
}

.title-h2 {
  color: $brown;
  line-height: 1;
  font-weight: bold;
  @include font-size(28px);
  @include media_interval($media480, $media640) {
    @include font-size(24px);
  }
  @include media_interval(0, $media480) {
    @include font-size(19px);
  }
}

.page-title {
  color: $white;
  margin-bottom: 45px;
  @include media_interval($media400, $media768) {
    margin-bottom: 36px;
  }
  @include media_interval(0, $media400) {
    margin-bottom: 20px;
  }
}

// Телефон
.phone {
  line-height: 1;
  font-weight: bold;
  white-space: nowrap;
  vertical-align: -38%;
  @include font-size(24px);
  @include media_interval(0, $media480) {
    vertical-align: -34%;
    @include font-size(16px);
  }
}


// Блок
.block {
  padding-top: 45px;
  padding-bottom: 66px;
  @include media_interval($media400, $media768) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include media_interval(0, $media400) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .block-title {
    margin-bottom: 8px;
  }
}


// Оверлей
.green-overlay {
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $overlay_brown;
    @include border-box;
  }
}


// Иконки
.icon-green {
  display: inline-block;
  width: 50px;
  @include media_interval(0, $media640) {
    width: 40px;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: $sprite_url no-repeat rel-background-position(50px, 50px, -1px, -135px);
    background-size: rel-background-size(50px, 50px);
  }

  &.icon-drops:before {
    background-position: rel-background-position(50px, 50px, -53px, -135px);
  }
  &.icon-gears:before {
    background-position: rel-background-position(50px, 50px, -105px, -135px);
  }
  &.icon-waves:before {
    background-position: rel-background-position(50px, 50px, -157px, -135px);
  }
  &.icon-carrot:before {
    background-position: rel-background-position(50px, 50px, -209px, -135px);
  }
  &.icon-lift:before {
    background-position: rel-background-position(50px, 50px, -261px, -135px);
  }
  &.icon-home:before {
    background-position: rel-background-position(50px, 50px, -313px, -135px);
  }
  &.icon-cards:before {
    background-position: rel-background-position(50px, 50px, -365px, -135px);
  }
  &.icon-blank:before {
    background-position: rel-background-position(50px, 50px, -417px, -135px);
  }
  &.icon-truck:before {
    background-position: rel-background-position(50px, 50px, -469px, -135px);
  }
  &.icon-cash:before {
    background-position: rel-background-position(50px, 50px, -521px, -135px);
  }
  &.icon-coins:before {
    background-position: rel-background-position(50px, 50px, -573px, -135px);
  }
  &.icon-operator:before {
    background-position: rel-background-position(50px, 50px, -625px, -135px);
  }
  &.icon-ruler:before {
    background-position: rel-background-position(50px, 50px, -677px, -135px);
  }
  &.icon-bulb:before {
    background-position: rel-background-position(50px, 50px, -729px, -135px);
  }
  &.icon-box:before {
    background-position: rel-background-position(50px, 50px, -781px, -135px);
  }
}


// advantages
.advantages {
  .advantage {
    padding-bottom: 20px;
    @include flexbox;
    @include media_interval(0, $media640) {
      padding-bottom: 14px;
    }
    &:nth-last-of-type(1) {
      padding-bottom: 0;
    }

    .icon-green {
      @include flex(0 0 auto);
    }

    .name {
      padding-left: 20px;
      line-height: 1;
      font-weight: bold;
      @include fontsize_default;
      @include align-self(center);
    }
  }
}

.page-block {
  @include media_map((padding-top, padding-bottom), $page_margin);

  & + .page-block {
    padding-top: 0;
  }
}

// Скидки
.discount-wrapper {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
}

.discount-price-wrapper {
  position: relative;
}

.old-price {
  font-weight: normal;
  color: $text_color;
  text-decoration: line-through;
  @include font-size(14px);

  .per-price & {
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 5px;
    @include transform(translate(0, -100%));
  }
}

.menu-discount {
  &.active {
    .discount-tag {
      color: $brown;
    }
  }
}

.discount-tag {
  position: relative;
  display: inline-block;
  padding: 6px 6px 6px 12px;
  min-width: 20px;
  color: $white;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  @include font-size(14px);
  @include filter(drop-shadow, 0 0 5px rgba(0,0,0, 0.3));

  &:before {
    content: '';
    display: block;
    position: absolute;
    background: #e96705;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #bc4f00;
    -webkit-clip-path: polygon(18% 0, 100% 0%, 100% 100%, 18% 100%, 0 45%);
    clip-path: polygon(18% 0, 100% 0%, 100% 100%, 18% 100%, 0 45%);
    z-index: -1;
    @include box_sizing(border-box);
  }

  &.discount-menu {
    font-weight: normal;
    padding: 6px 16px 6px 20px;
    @include font-size(18px, 18px);
    &:before {
      -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0 45%);
      clip-path: polygon(10% 0, 100% 0%, 100% 100%, 10% 100%, 0 45%);
    }
  }

  .price-wrapper,
  .product-count & {
    vertical-align: middle;
    margin-left: 10px;
  }
}