@import "mixins";

.parallax {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  z-index: 1;
  text-align: center;
  @include transform(translate(-50%, -50%));
  // @include backface-visibility(hidden);

  @at-root .js & {
    display: none;
  }
}
