@import 'mixins';

.text-styles {
  @include fontsize_default;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 1.3em;
    @include media_interval(0, $media640) {
      margin-bottom: 1em;
    }
  }

  a {
    color: $green;

    &:hover {
      color: #709b2c;
    }
  }

  img {
    height: auto;
    margin-bottom: 10px;
  }

  iframe {
    margin-bottom: 10px;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: bold;
  }
  h1, h2, h3 {
    margin: 1.1em 0 0.55em;
    word-wrap: break-word;
    @include font-size(30px);
    @include media_interval(0, $media768) {
      letter-spacing: 1px;
      @include font-size(24px);
    }
  }
  h4, h5, h6 {
    margin-bottom: 0.75em;
  }

  h2 {
    @include font-size(26px);
    @include media_interval(0, $media768) {
      @include font-size(22px);
    }
  }

  h3 {
    @include font-size(20px);
    @include media_interval(0, $media768) {
      @include font-size(18px);
    }
  }

  ul {
    padding-left: 1.6em;
    margin: 1.1em 0;

    li {
      position: relative;

      &:before {
        content: '●';
        position: absolute;
        left: -1.4em;
        top: 0.7em;
        font-size: 0.8em;
        @include transform(translateY(-50%));
      }
    }
  }

  ol {
    list-style: decimal;
    padding-left: 1.6em;
    margin: 1.1em 0;
  }

  table {
    margin: 1.6em 0;
    width: 100%;
    @include media_interval(0, $media1024) {
      display: block;
      overflow-x: auto;
    }

    th, td {
      padding: 16px;
      width: 1%;
      min-width: 90px;
      border-bottom: 2px solid #BABABA;
      @include font-size(14px, 18px);
      @include media_interval(0, $media1024) {
        padding: 12px 10px;
      }
    }

    th {
      font-weight: bold;
    }

    td {
      p {
        margin-bottom: 0.8em;
      }

      > *:first-child {
        margin-top: 0;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  .page-images, .page-video, .page-files {
    margin: 2.2em 0;
  }

  .page-images {
    img {
      width: 100%;
    }

    @at-root .js & > img:nth-of-type(n+2) {
      display: none;
    }
  }

  .object-description, .item-description {
    display: block;
    margin-top: 5px;
    color: #808080;
    @include font-size(14px, 16px);
  }

  // JS-слайдер с описанием
  .slider-root {
    margin: 2.2em 0;
    font-size: inherit;

    .slider-list-wrapper {
      @include no_fontsize;
    }

    .page-images {
      margin: 0;
    }

    .slider-item {
      cursor: pointer;
    }

    .slider-arrow {
      height: 0;
      padding-top: 56.25%;
    }
  }

  // Видео
  .page-video {
    position: relative;
    text-align: left;

    .fluid-width-video-wrapper {
      display: inline-block;
      vertical-align: top;
      @include backface-visibility(hidden);
    }

    &.instagram {
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;

      iframe {
        width: 100%;
        border: 1px solid #E6E6E6;
        @include border_radius(4px);
      }
    }

    iframe {
      margin: 0;
    }
  }

  // Файлы
  .page-file {
    margin-bottom: 0.5em;
    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      max-width: 100%;
    }
  }

  // Таблицы
  .page-table {
    margin: 1.6em 0;
    overflow-x: auto;

    & > table {
      margin: 0;
      @include media_interval(0, $media1024) {
        display: table;
        overflow-x: visible;
      }
    }
  }

  // две колонки
  .columns {
    @include media_interval($media900, 0) {
      margin: 1.6em 0;
      @include flexbox;
    }

    .column {
      @include media_interval($media900, 0) {
        min-height: 1em;

        & > *:first-child {
          margin-top: 0;
        }

        > *:last-child {
          margin-bottom: 0;
        }
      }

      @include media_interval($media1200, 0) {
        @include flex-columns(2, 50px);
      }
      @include media_interval($media900, $media1200) {
        @include flex-columns(2, 40px);
      }
    }
  }

  // Две колонки через класс
  .two-columns {
    @include media_interval($media1200, 0) {
      @include column-count(2);
      @include column-gap(50px);
    }
    @include media_interval($media768, $media1200) {
      @include column-count(2);
      @include column-gap(40px);
    }

    > p {
      margin-bottom: 0;
      padding-bottom: 1em;
    }

    > h2, > h3, > h4 {
      margin-bottom: 0;
      padding-bottom: .5em;
    }

    > ul, > ol {
      margin-bottom: 0;
      padding-bottom: 1.1em;
    }

    > li {
      @include media_interval($media768, 0) {
        padding-bottom: 0.2em;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    > * {
      @include column-break-inside(avoid);

      &:last-child {
        @include media_interval($media768, 0) {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    &:last-child > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .no-margin {
    margin-bottom: 0;

    & + * {
      margin-top: 0;
    }
  }
}
