{% load staticfiles %}
{% load rating %}
{% load menu %}
{% load i18n %}
{% load text %}
{% load seo %}


<div class="block">
    <div class="grid-block" itemscope itemtype="http://schema.org/Organization" itemid="#org">
        <link itemprop="url" href="{% url 'index' %}"/>
        <meta itemprop="name" content="СтройСад"/>
        <div style="display: none" itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <img itemprop="url" src="{% static 'img/microdata_logo.png' %}" alt="СтройСад">
            <meta itemprop="width" content="180"/>
            <meta itemprop="height" content="180"/>
        </div>

        <div style="display: none" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
            <link itemprop="url" href="{% static 'img/microdata_logo.png' %}"/>
            <meta itemprop="width" content="180"/>
            <meta itemprop="height" content="180"/>
        </div>

        <div class="flex">
            <div class="footer-menu">
                {% menu 'bottom' %}

                <a href="http://gidfinance-media.ru" target="_blank" class="gidfinance" style="margin-top: 20px; display: None;">
                    Продвижение сайта <br>
                    <img src="/static/img/gidfinance_media_light.svg" alt="" width="157">
                </a>
            </div>

            <div class="right-box">
                <div class="socials">
                    <div class="socials-references">
                        <div class="socials-references-wrapper">
                            {% if socials.social_tg %}
                            <a href="{{ socials.social_tg }}" class="tg" target="_blank" itemprop="sameAs"></a>
                            {% endif %}
                            {% if socials.social_facebook %}
                            <a href="{{ socials.social_facebook }}" class="fb" target="_blank" itemprop="sameAs"></a>
                            {% endif %}
                            {% if socials.social_twitter %}
                            <a href="{{ socials.social_twitter }}" class="tw" target="_blank" itemprop="sameAs"></a>
                            {% endif %}
                            {% if socials.social_google %}
                            <a href="{{ socials.social_google }}" class="go" target="_blank" itemprop="sameAs"></a>
                            {% endif %}
                            {% if socials.social_linkedin %}
                            <a href="{{ socials.social_linkedin }}" class="li" target="_blank" itemprop="sameAs"></a>
                            {% endif %}
                            {% if socials.social_vk %}
                            <a href="{{ socials.social_vk }}" class="vk" target="_blank" itemprop="sameAs"></a>
                            {% endif %}
                            {% if socials.social_ok %}
                            <a href="{{ socials.social_ok }}" class="ok" target="_blank" itemprop="sameAs"></a>
                            {% endif %}
                            {% if socials.social_youtube %}
                            <a href="{{ socials.social_youtube }}" class="yt" target="_blank" itemprop="sameAs"></a>
                            {% endif %}
                        </div>


                        <div class="phones" style="
                            display: flex;
                            flex-flow: column;
                            align-items: center;
                            margin-top: 2rem;
                        ">
                        </div>
                    </div>
                </div>

                <div class="phone-rating">
                    {% if config.phone %}
                    <div class="phone-wrapper">
                        <a href="tel:{{ config.phone|phone }}" class="phone" itemprop="telephone">Москва: {{ config.phone }}</a>
                        <a href="tel:+79227172420" class="phones-footer" itemprop="telephone">Челябинск: +7 (922) 717-24-20 </a>
                        <a href="tel:+79270135232" class="phones-footer" itemprop="telephone">Казань: +7 (927) 013-52-32 </a>
                        <a href="tel:88482939874" class="phones-footer" itemprop="telephone">Тольятти: 8 (8482) 93-98-74 </a>
                    </div>
                    {% endif %}
                </div>

                <div class="request-logo">
                    <div class="btn-wrapper">
                        <button class="request-popup btn btn-medium btn-white"><span>{% trans 'Request a call' %}</span></button>
                    </div>

                    <div class="rating-wrapper">
                        <iframe src="https://yandex.ru/sprav/widget/rating-badge/1917082747" width="150" height="50" frameborder="0"></iframe>
                        {# <p>{% trans 'Our rating' %}:</p>#}
                        {# {% rating %}#}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="page-content" style="background: none; font-size: 16px;">


  <div class="grid block footer-addresses">

    <div class="gc">
      <div class="addresses">
        {% for address in addresses %}
        <div class="address">
          <div class="inner">
            <h3 class="city" style="font-weight: bold;">{{ address.city }}</h3>
            {% if address.address %}
            <p>{{ address.address|typograf|safe }}</p>
            {% endif %}

            {% if address.work_hours %}
            <p>{{ address.work_hours|clean }}</p>
            {% endif %}

            {% if address.email %}
            <p>
              {% trans 'E-mail' %}:
              <a class="email" href="mailto:{{ address.email }}">{{ address.email }}</a>
            </p>
            {% endif %}

            {% if address.phones %}
            <p class="phones">
              {% trans 'Phones' %}:
              {% for phone in address.phones_list %}
              <nobr>{{ phone }}</nobr>{{ forloop.last|yesno:",&#44;"|safe }}
              {% endfor %}
            </p>
            {% endif %}

            {% if address.comment %}
            <p>{{ address.comment }}</p>
            {% endif %}
          </div>

          <div class="hidden">
            <div class="bubble">
              <h3 class="info-title">{{ address.city }}</h3>

              {% if address.address %}
              <p><b>{% trans 'Address' %}</b>: {{ address.address }}</p>
              {% endif %}

              {% if address.phones %}
              <p>
                <b>{% trans 'Phones' %}</b>:
                {% for phone in address.phones_list %}
                <nobr>{{ phone }}</nobr>{{ forloop.last|yesno:",&#44;"|safe }}
                {% endfor %}
              </p>
              {% endif %}

              {% if address.email %}
              <p><b>{% trans 'E-mail' %}</b>: <a href="mailto:{{ address.email }}">{{ address.email }}</a></p>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>-->
</div>
