@import "mixins";

.content {
  background-color: $gray;
}

.products-wrapper {
  @include media_interval($media860, 0) {
    margin-top: 10px;
    @include flex(1 0 0);
  }
  @include media_interval(0, $media860) {
    margin-top: 28px;
  }
  @include media_interval(0, $media400) {
    margin-top: 24px;
  }

  .product {
    @include media_interval(1300px, 0) {
      @include flex-columns(6, 20px, 20px);
    }
    @include media_interval(1160px, 1300px) {
      @include flex-columns(5, 20px, 20px);
    }
    @include media_interval($media900, 1160px) {
      @include flex-columns(4, 20px, 20px);
    }
    @include media_interval($media640, $media900) {
      @include flex-columns(3, 20px, 20px);
    }
    @include media_interval($media360, $media640) {
      @include flex-columns(2, 20px, 20px);
    }
    @include media_interval(0, $media360) {
      @include flex-columns(2, 14px, 14px);

      .product-inner {
        padding: 16px;
      }
      .product-title {
        @include font-size(12px);
      }
    }
  }
}

#related {
  margin-top: 20px;

  .title {
    padding: 30px 0 20px;
    border-top: 1px solid $green;
    @include media_interval(0, $media860) {
      padding: 24px 0 0;
    }
  }

  .product {
    @include media_interval(1160px, 1300px) {
      &:nth-of-type(n+6) {
        display: none;
      }
    }
    @include media_interval($media900, 1160px) {
      &:nth-of-type(n+5) {
        display: none;
      }
    }
    @include media_interval($media640, $media900) {
      &:nth-of-type(n+4) {
        display: none;
      }
    }
    @include media_interval(0, $media640) {
      &:nth-of-type(n+3) {
        display: none;
      }
    }
  }
}
