{% extends 'layout.html' %}

{% load attachable_blocks %}
{% load pipeline_plus %}
{% load testimonials %}
{% load ajaxcache %}
{% load paginator %}
{% load breadcrumbs %}
{% load text %}
{% load away %}
{% load i18n %}

{% block critical_css %}
    {{ block.super }}
    {% inline_stylesheet 'shop_category_critical' %}
{% endblock critical_css %}

{% block static_head %}
    {{ block.super }}
    {% stylesheet 'shop_category' %}
{% endblock static_head %}

{% block static_js %}
    {{ block.super }}
    {% javascript 'shop_category' %}
{% endblock static_js %}


{% block content %}
    {% csrf_token %}
    <!-- {{ producer_meta_description }} -->
    <div id="category-page" class="page-block">
        {% if paginator.current_page.number == 1 %}
            {#            <div class="content-header">#}
            {#                <div class="grid">#}
            {#                    <div class="gc">#}
            {#                        <h1 class="title title-h1">{{ title|clean }}</h1>#}
            {#                    </div>#}
            {##}
            {#                    <div class="gc">#}
            {#                        {% breadcrumbs %}#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {% if not selected_producer %}
                {% include 'shop/header.html' with title=current_category.header description=current_category.description %}
            {% else %}
                {% include 'shop/header.html' with title=producer_title description=producer_description %}
            {% endif %}
        {% endif %}
        {% with nodes=current_root.subcategories %}
            <div class="flex">

                <div class="category-menu">
                    {% if nodes %}
                        <div class="shower-title">
                            <span>{% trans 'Filter' %}</span>
                        </div>
                        <div class="shower-block category-tree">
                            {% include 'shop/category_tree_level.html' with nodes=nodes level=1 %}
                        </div>
                    {% endif %}

                    {% with producers_list=producers.all %}
                        {% if producers_list %}
                            <div class="shower-title">
                                <span>{% trans 'Producer' %} ({{ producers_list.count }})</span>
                            </div>
                            <div class="shower-block producers-block {% if nodes %}has-tree{% endif %}">
                                <div class="title">{% trans 'Select producer' %}</div>

                                <form class="producers-list"
                                      action="{% url 'shop:category' category_alias=current_category.alias %}"
                                      method="get">
                                    {% for producer in producers_list %}
                                        <div class="producer">
                                            <label for="prod_{{ forloop.counter }}">
                                                <input type="checkbox" name="producers" value="{{ producer.alias }}"
                                                       id="prod_{{ forloop.counter }}"
                                                       {% if producer == selected_producer %}checked{% endif %}
                                                       data-action="{% url 'shop:producer' category_alias=current_category.alias producer=producer.alias %}">
                                                {{ producer.title }}
                                            </label>
                                        </div>
                                    {% endfor %}

                                    <button type="submit" class="btn producer-filter">
                                        <span>{% trans 'Search' %}</span>
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>

                <div class="products-wrapper">
                    {% with products=paginator.current_page %}
                        {% include 'shop/products.html' with products=products %}
                    {% endwith %}

                    {% if paginator.num_pages > 1 %}
                        <div id="paginator">
                            {% paginator paginator %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endwith %}
        <div class="grid">

            {% if paginator.current_page.number == 1 %}
                {% if not selected_producer %}
                    {% if current_category.description %}
                        <div class="gc">
                            <div class="description text-styles m60 hide">
                                {{ current_category.description|safe }}
                            </div>
                            <button id="text-hide" class="btn btn-medium" href="#">Показать полностью</button>
                        </div>
                    {% endif %}
                {% else %}
                    {% if producer_description %}
                        <div class="gc">
                            <div class="description text-styles m60 hide">
                                {{ producer_description|safe }}
                            </div>
                            <button id="text-hide" class="btn btn-medium" href="#">Показать полностью</button>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if posts %}

    {% endif %}

    {% if posts or current_category.video or current_category.text_additional %}
        {% render_attached_blocks config %}

        {% if current_category.text_additional %}
            <div class="block-additional">
                <div class="shop-description ">

                    <div class="grid">
                        <div class="gc-wide-2 gc-2">
                        </div>
                        <div class="gc-wide-10 gc-10 text-styles text-about block">
                            {% away current_category.text_additional %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if current_category.video or posts %}
            <div class="back-posts-video block">
                <div class="grid">
                    {% if posts %}
                        <div class="block-posts" id="posts">
                            <div class="title title-h2 gc">Статьи по теме</div>
                            <div class="post-container">
                                {% for post in posts %}
                                    {% include 'blog/article.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if current_category.video %}
                        <div class="item-video">
                            <div class="gc">
                                {% if current_category.video_title %}
                                    <h3 class="block-title title-h2">
                                        {{ current_category.video_title }}
                                    </h3>
                                {% endif %}
                            </div>
                            <div class="gc">
                                <div class="video-container">
                                    <iframe src="//www.youtube.com/embed/{{ current_category.video.key }}"
                                            frameborder='0'
                                            allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% ajaxcache 180 testimonials %}
        {% testimonials_block %}
    {% endajaxcache %}

{% endblock content %}
