{% load i18n %}

<div class="categories">
  {% for category in categories %}
    <div class="category">
      <div class="grid">
        <div class="gc">
          <h2 class="title title-h2">
            <a href="{{ category.get_absolute_url }}" class="link">{{ category.title }}</a>
          </h2>
          {% if category.short_description %}
            <div class="description">
              {{ category.short_description|safe }}
            </div>
          {% endif %}
        </div>

        {% if category.shop_line > 1 %}
          <div class="gc two-lines">
            {% include 'shop/products.html' with products=category.all_products %}
          </div>
        {% else %}
          <div class="gc one-line">
            {% include 'shop/products.html' with products=category.all_products|slice:"6" %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

