
{% for subcategory in nodes %}
  <div class="category level-{{ level }}
              {% if subcategory.pk in current_way %}active{% endif %}
              {% if subcategory == current_category %}current{% endif %}">
    <a href="{{ subcategory.get_absolute_url }}"
       class="link level-{{ level }}
              {% if subcategory.pk in current_way %}active{% endif %}
              {% if subcategory == current_category %}current{% endif %}">
      {{ subcategory }}
    </a>

    {% with next_categories=subcategory.subcategories %}
      {% if next_categories %}
        <div class="subcategories level-{{ level }}">
          {%  include 'shop/category_tree_level.html' with nodes=next_categories level=level|add:"1" %}
        </div>
      {% endif %}
    {% endwith %}

  </div>
{% endfor %}
