{% extends 'layout.html' %}

{% load pipeline_plus %}
{% load testimonials %}
{% load ajaxcache %}
{% load text %}
{% load i18n %}

{% block critical_css %}
    {{ block.super }}
    {% inline_stylesheet 'shop_detail_critical' %}
{% endblock critical_css %}

{% block static_head %}
    {{ block.super }}
    {% stylesheet 'shop_detail' %}
{% endblock static_head %}

{% block static_js %}
    {{ block.super }}
    {% javascript 'shop_detail' %}
{% endblock static_js %}


{% block content %}
    {% csrf_token %}

    <div class="page-block" itemscope itemtype="https://schema.org/Product">
        <meta itemprop="name" content="{{ current_product.title }}">
        <meta itemprop="category" content="{{ current_category.title }}">
        <link itemprop="url" href="{{ current_product.get_absolute_url }}">
        <link itemprop="image" href="{{ current_product.gallery.image_items.first.image.url }}">

        {% include 'shop/header.html' with title=current_product.title %}

        <div class="grid-block">
            <div id="detail">
                <div class="column" id="photo-column">
                    {% with image_items=current_product.gallery.image_items %}
                        <div class="slider no-slider">
                            {% for item in image_items %}
                                <div class="slider-slide">
                                    <picture class="slider-item">
                                        <source srcset="{{ item.image.small.url }}" media="(max-width: 360px)">
                                        <source srcset="{{ item.image.medium.url }}" media="(max-width: 1024px)">
                                        <source srcset="{{ item.image.big.url }}">
                                        <img src="{{ item.image.big.url }}" alt="{{ item.description }}">
                                    </picture>
                                </div>
                            {% endfor %}
                        </div>
                    {% endwith %}
                </div>

                <div class="column" id="note-column">
                    <div class="note text-styles">
                        <div class="features">
                            <div>{% trans 'Serial number' %}: {{ current_product.serial }}</div>
                            {% if current_product.producer %}
                                <div>{% trans 'Producer' %}: {{ current_product.producer.title }}</div>
                            {% endif %}
                        </div>

                        <div class="interface">
                            <div class="price-wrapper">
                                <div>{% trans 'Price' %}:</div>
                                {% if current_product.is_discount %}
                                    <div class="old-price">{{ current_product.price }}</div>{% endif %}
                                <div class="price{% if current_product.is_discount %} discount-price{% endif %}">{{ current_product.total_price }}</div>
                                {% if current_product.is_discount %}
                                    <div class="discount-tag">{{ current_product.short_discount }}</div>{% endif %}
                            </div>

                            <div class="order-count">
                                {% csrf_token %}
                                <div class="custom-counter">
                                    <input type="number" value="1" min="0" max="9999"
                                           id="product-count-{{ current_product.id }}">
                                </div>

                                <button class="product-add-btn btn btn-medium"
                                        data-count-id="product-count-{{ current_product.id }}"
                                        data-product-id="{{ current_product.id }}">
                                    <span>{% trans 'Add to cart' %}</span></button>
                            </div>
                        </div>
                        <div itemprop="description">
                            {{ current_product.description|typograf|safe }}
                        </div>

                        {% for file in current_product.files.all %}
                            <div class="manual">
                                <span class="manual-icon"></span><a href="{{ file.file.url }}"
                                                                    download>{% trans 'Download manual for' %} {{ current_product.title }}</a>
                            </div>
                        {% endfor %}
                    </div>

{#                    <div class="interface">#}
{#                        <div class="price-wrapper">#}
{#                            <div>{% trans 'Price' %}:</div>#}
{#                            {% if current_product.is_discount %}#}
{#                                <div class="old-price">{{ current_product.price }}</div>{% endif %}#}
{#                            <div class="price{% if current_product.is_discount %} discount-price{% endif %}">{{ current_product.total_price }}</div>#}
{#                            {% if current_product.is_discount %}#}
{#                                <div class="discount-tag">{{ current_product.short_discount }}</div>{% endif %}#}
{#                        </div>#}
{##}
{#                        <div class="order-count">#}
{#                            {% csrf_token %}#}
{#                            <div class="custom-counter">#}
{#                                <input type="number" value="1" min="0" max="9999"#}
{#                                       id="product-count-{{ current_product.id }}">#}
{#                            </div>#}
{##}
{#                            <button class="product-add-btn btn btn-medium"#}
{#                                    data-count-id="product-count-{{ current_product.id }}"#}
{#                                    data-product-id="{{ current_product.id }}"><span>{% trans 'Add to cart' %}</span>#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>

    {% if current_product.video %}
        <div class="item-video">
            <div class="grid">
                <div class="gc">
                    {% if current_product.video_title %}
                        <h3 class="block-title title-h2">{{ current_product.video_title }}</h3>
                    {% endif %}
                </div>
                <div class="gc">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/{{ current_product.video.key }}" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if other_products %}
        <div id="other_products" class="page-block">
            <div class="grid">
                <div class="gc">
                    <h3 class="title title-h2">{% trans 'Other products' %}</h3>
                </div>

                <div class="gc">
                    {{ other_products }}
                </div>
            </div>
        </div>
    {% endif %}

    {% ajaxcache 180 testimonials %}
        {% testimonials_block %}
    {% endajaxcache %}

{% endblock content %}
