{% extends 'layout.html' %}

{% load pipeline_plus %}
{% load testimonials %}
{% load ajaxcache %}
{% load i18n %}

{% block critical_css %}
  {{ block.super }}
  {% inline_stylesheet 'shop_category_critical' %}
{% endblock critical_css %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'shop_category' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'shop_category' %}
{% endblock static_js %}


{% block content %}

  <div id="category-page" class="page-block">
    {% include 'shop/header.html' with title=config.header description=config.description %}
    <div class="flex">
      <div class="products-wrapper">
        {% include 'shop/products.html' %}
      </div>
    </div>
  </div>

  {% ajaxcache 180 testimonials %}
    {% testimonials_block %}
  {% endajaxcache %}

{% endblock content %}
