{% if categories %}
  <div id="shop-submenu">
    <div class="grid-block">
      <ul>
        {% for category in categories %}
          <li class="{% if current.pk == category.pk %}active{% endif %}">
            <a href="{{ category.get_absolute_url }}">
              <span>{{ category.title }}</span>
            </a>
          </li>
        {% endfor %}

        {% if discount_config.has_discounts %}
          <li class="menu-discount{% if discount_config.get_absolute_url == request.path %} active{% endif %}">
            <a href="{{ discount_config.get_absolute_url }}">
              <span class="discount-tag discount-menu">{{ discount_config.title }}</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endif %}
