{% load breadcrumbs %}
{% load text %}

<div class="content-header">
  <div class="grid">
    <div class="gc">
      <h1 class="title title-h1">{{ title|clean }}</h1>
    </div>

    <div class="gc">
      {% breadcrumbs %}
    </div>

{#    {% if description %}#}
{#      <div class="gc">#}
{#        <div class="description text-styles">#}
{#          {{ description|safe }}#}
{#        </div>#}
{#      </div>#}
{#    {% endif %}#}
  </div>
</div>
