{% load i18n %}

<div id="cart">
  <div class="grid-block">
    <div class="cart-content">
      <div class="title-wrapper">
        <div class="title title-h2">{% trans 'Cart' %}</div>
      </div>

      <div class="checkout-wrapper">
        <span>{% blocktrans count count=total_count %}{{ count }} product at a cost of {{ total_price }}{% plural %}{{ count }} products at a cost of {{ total_price }}{% endblocktrans %}</span>

        <a href="{% url 'shop:order-cart' %}" class="btn btn-medium btn-white">
          <span>{% trans 'Checkout' %}</span>
        </a>
      </div>
    </div>
  </div>
</div>