{% extends 'layout.html' %}

{% load pipeline_plus %}
{% load breadcrumbs %}
{% load text %}
{% load i18n %}


{% block static_head %}
  {{ block.super }}
  {% stylesheet 'shop_order_cart' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'shop_order_cart' %}
{#  <script type="text/javascript" src="//points.boxberry.ru/js/boxberry.js"></script>#}
  <script type="text/javascript" src="//points.boxberry.ru/js/boxberry.js"></script>
{% endblock static_js %}


{% block content %}

  {% include 'shop/order_new/order_header.html' %}

  <form action="{% url 'shop:order-cart' %}" method="post" id="order-cart">
    {% csrf_token %}

    <div class="grid-block">
      <h1 class="title-h2 header-text">
        {% blocktrans count count=cart.total_count with total_price=cart.total_price %}In your cart {{ count }} item with the total price {{ total_price }}{% plural %}In your cart {{ count }} items with the total price {{ total_price }}{% endblocktrans %}
      </h1>
    </div>

    <!-- table wide -->
    <div class="in-your-cart block">
      <div class="grid-block">
        <table class="table table-wide">
          {% for product, price, count in cart.products_prices_counts %}
            <tr class="product-row-{{ product.id }}" data-product-id="{{ product.id }}">
              <td class="product-image">
                <a href="{{ product.get_absolute_url }}">
                  <img src="{{ product.photo.small.url }}" alt="">
                </a>
              </td>

              <td class="product-title">
                {{ product.title|clean|softhyphen }}
              </td>

              <td class="product-count">
                <div class="order-count">
                  <div class="custom-counter product-count-{{ product.id }}"
                       data-price="{{ product.total_price.as_decimal }}">
                    <input type="number" value="{{ count }}" min="0" max="9999" name="cart[{{ product.id }}]">
                  </div>
                </div>

                <span class="per-price price-small{% if product.is_discount %} discount-price{% endif %}">
                  x {% if product.is_discount %}<span class="discount-price-wrapper">{{ product.total_price }}<span
                        class="old-price">{{ product.price }}</span></span>{% else %}
                  {{ product.total_price }}{% endif %}</span>
                {% if product.is_discount %}
                  <span class="discount-tag">{{ product.short_discount }}</span>{% endif %}
              </td>

              <td class="product-price price-big" data-value="{{ price.as_decimal }}">
                {{ price }}
              </td>

              <td class="product-remove">
                <a href="#"></a>
              </td>
            </tr>
          {% endfor %}

          <tr>
            <td colspan="3" class="form-submit">

            </td>
            <td colspan="2" class="total-price">
              <div class="signed-price">
                <span class="sign">{% trans 'Total:' %}</span>

                <div class="price-big">{{ cart.total_price }}</div>
              </div>
            </td>
          </tr>
        </table>

        <!-- table tablet -->
        <table class="table table-tablet">
          {% for product, price, count in cart.products_prices_counts %}
            <tr class="product-row-{{ product.id }}" data-product-id="{{ product.id }}">
              <td class="product-image">
                <a href="{{ product.get_absolute_url }}">
                  <img src="{{ product.photo.small.url }}" alt="">
                </a>
              </td>

              <td>
                <div class="product-title-count">
                  <div class="inner">
                    <div class="product-title">
                      {{ product.title|clean|softhyphen }}
                    </div>

                    <div class="product-count">
                      <div class="order-count">
                        <div class="custom-counter product-count-{{ product.id }}"
                             data-price="{{ product.total_price.as_decimal }}">
                          <input type="number" value="{{ count }}" min="0" max="9999" name="cart[{{ product.id }}]">
                        </div>
                      </div>
                      <span class="per-price price-small{% if product.is_discount %} discount-price{% endif %}">
                        x {% if product.is_discount %}
                        <span class="discount-price-wrapper">{{ product.total_price }}<span
                                class="old-price">{{ product.price }}</span></span>{% else %}
                        {{ product.total_price }}{% endif %}</span>
                      {% if product.is_discount %}
                        <span class="discount-tag">{{ product.short_discount }}</span>{% endif %}
                    </div>
                  </div>
                </div>
              </td>

              <td class="product-price price-big" data-value="{{ price.as_decimal }}">
                {{ price }}
              </td>

              <td class="product-remove">
                <a href="#"></a>
              </td>
            </tr>
          {% endfor %}

          <tr>
            <td colspan="2" class="form-submit">

            </td>
            <td colspan="2" class="total-price">
              <div class="signed-price">
                <span class="sign">{% trans 'Total:' %}</span>

                <div class="price-big">{{ cart.total_price }}</div>
              </div>
            </td>
          </tr>
        </table>

        <!-- table mobile -->
        <table class="table table-mobile">
          {% for product, price, count in cart.products_prices_counts %}
            <tr class="product-row-{{ product.id }}" data-product-id="{{ product.id }}">
              <td>

                <div class="row-inner">
                  <div class="product-image">
                    <a href="{{ product.get_absolute_url }}">
                      <img src="{{ product.photo.small.url }}" alt=""
                           width="{{ product.photo.small.target_width }}"
                           height="{{ product.photo.small.target_height }}">
                    </a>
                  </div>

                  <div class="product-title">
                    {{ product.title|clean|softhyphen }}
                  </div>

                  <div class="product-count-price">
                    <div class="product-count">
                      <div class="order-count">
                        <div class="custom-counter product-count-{{ product.id }}"
                             data-price="{{ product.total_price.as_decimal }}">
                          <input type="number" value="{{ count }}" min="0" max="9999" name="cart[{{ product.id }}]">
                        </div>
                      </div>
                      <span class="per-price price-small{% if product.is_discount %} discount-price{% endif %}">
                        x {% if product.is_discount %}
                        <span class="discount-price-wrapper">{{ product.total_price }}<span
                                class="old-price">{{ product.price }}</span></span>{% else %}
                        {{ product.total_price }}{% endif %}</span>
                      {% if product.is_discount %}
                        <span class="discount-tag">{{ product.short_discount }}</span>{% endif %}
                    </div>

                    <div class="product-price price-big" data-value="{{ price.as_decimal }}">
                      {{ price }}
                    </div>
                  </div>

                  <div class="product-remove">
                    <a href="#"></a>
                  </div>
                </div>

              </td>
            </tr>
          {% endfor %}

          <tr>
            <td style="padding-bottom: 0">
              <div class="total-price">
                <div class="signed-price">
                  <span class="sign">{% trans 'Total:' %}</span>

                  <div class="price-big">{{ cart.total_price }}</div>
                </div>
              </div>

              <div class="form-submit"></div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="forms-here block">
      <div class="grid-block">
        {% include 'shop/order_new/recipient_form.html' %}
        {% include 'shop/order_new/order_type_form.html' %}
        {% include 'shop/order_new/delivery_address_form.html' %}
        {% include 'shop/order_new/pickup_address_form.html' %}
        {% include 'shop/order_new/boxberry_address_form.html' %}
        {% include 'shop/order_new/payment_type_form.html' %}
        {% include 'shop/order_new/comment_form.html' %}
        {% include 'shop/order_new/order_buttons.html' %}
      </div>
    </div>
  </form>

{% endblock content %}
