{% load i18n %}
{% load text %}


{% if products %}
  <div class="products">
    {% for product in products %}
      <div class="product">
        <div class="product-inner">
          <div class="align-top">
            <a href="{{ product.get_absolute_url }}" class="product-link">
              <img src="{{ product.photo.micro.url }}" class="product-photo" alt="{{ product.photo_description }}"
                   width="{{ product.photo.micro.target_width }}"
                   height="{{ product.photo.micro.target_height }}">
              <div class="product-title">{{ product.title|softhyphen|safe }}</div>
            </a>
          </div>
          <div class="align-bottom">
            {% if product.is_discount and product.discount_unit == 2 %}
              <div class="discount-wrapper">
                <div>
                  <div class="old-price">{{ product.price }}</div>
                  <div class="product-price discount-price">{{ product.total_price }}</div>
                </div>
                <div class="discount-tag">%</div>
              </div>
            {% elif product.is_discount and product.discount_unit == 1 %}
              <div class="discount-wrapper">
                <div>
                  <div class="old-price">{{ product.price }}</div>
                  <div class="product-price discount-price">{{ product.total_price }}</div>
                </div>
                <div class="discount-tag">{{ product.short_discount }}</div>
              </div>
            {% else %}
              <div class="product-price">{{ product.total_price }}</div>
            {% endif %}
            <button class="product-add-btn btn" data-product-id="{{ product.id }}"><span>{% trans 'Add to cart' %}</span></button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}