{% load form_helper %}
{% load i18n %}

<p class="title title-h2">{% trans 'Leave your contact details' %}</p>

{{ form.media }}
<form method="post" action="{% url 'contacts:ajax_contact' %}" id="ajax-request-form"
      class="contacts-request-form contacts-popup-form contacts-form" autocomplete="off">

  {% render_form form %}

  <div class="form-buttons">
    <button type="submit" class="btn btn-brown btn-medium" data-agreement >
      <span>{% trans 'Send' %}</span>
    </button>
  </div>
</form>
