{% load i18n %}

{% if data.organization %}
  <p><b>{% trans 'Organization' %}:</b> {{ data.organization }}</p>
{% endif %}

{% if data.scope %}
  <p><b>{% trans 'Scope' %}:</b> {{ data.scope }}</p>
{% endif %}

{% if data.person %}
  <p><b>{% trans 'Person' %}:</b> {{ data.person }}</p>
{% endif %}

{% if data.phone %}
  <p><b>{% trans 'Phone' %}:</b> {{ data.phone }}</p>
{% endif %}

{% if referer %}
  <p><b>{% trans 'From page' %}:</b> {{ referer }}</p>
{% endif %}