{% load form_helper %}
{% load i18n %}

{{ form.media }}
<form method="post" action="{% url 'contacts:ajax_contact' %}" id="contacts-request-form"
      class="contacts-request-form contacts-form green-form">
  <div class="title title-h2">{% trans 'Leave your contact details' %}</div>

  {% render_form form %}

  <div class="form-buttons">
    <button type="submit" class="submit-btn btn btn-brown btn-medium">
      <span>{% trans 'Send' %}</span>
    </button>
  </div>
</form>