{% extends 'layout.html' %}

{% load pipeline %}
{% load text %}
{% load i18n %}


{% block static_head %}
{{ block.super }}
{% stylesheet 'contacts_page' %}
{% endblock static_head %}

{% block static_js %}
{{ block.super }}
{% javascript 'contacts_page' %}
{% endblock static_js %}


{% block content %}
<style>
    #yandex-map {
        width: 100%;
        height: 400px;
    }
</style>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=a388d4b3-930c-4b74-9fc5-c8fb121fc950" type="text/javascript"></script>
<div class="page-content">
    <div class="grid block">
        <div class="gc">
            <h1 class="title-h2">{{ config.header }}</h1>
        </div>

        <div class="gc">
            <div class="addresses">
                {% for address in addresses %}
                <div class="address" data-lat="{{ address.coords.lat|default:'' }}" data-lng="{{ address.coords.lng|default:'' }}">
                    <div class="inner {% if address.coords %}clickable{% endif %}">
                        <div class="address-column">
                            <h3 class="city">{{ address.city }}</h3>
                            {% if address.address %}
                            <p>{{ address.address|typograf|safe }}</p>
                            {% endif %}

                            {% if address.work_hours %}
                            <p>{{ address.work_hours|clean }}</p>
                            {% endif %}

                            {% if address.comment %}
                            <p>{{ address.comment }}</p>
                            {% endif %}
                        </div>

                        <div class="email-column">
                            {% if address.email %}
                            <p>
                                {% trans 'E-mail' %}:
                                <a class="email" href="mailto:{{ address.email }}">{{ address.email }}</a>
                            </p>
                            {% endif %}
                        </div>

                        <div class="phone-column">
                            {% if address.phones %}
                            <p class="phones">
                                {% trans 'Phones' %}:
                                {% for phone in address.phones_list %}
                                <span>
                                <nobr>{{ phone }}</nobr>
                                {{ forloop.last|yesno:",&#44;"|safe }}
                                </span>
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="hidden">
                        <div class="bubble">
                            <h3 class="info-title">{{ address.city }}</h3>

                            {% if address.address %}
                            <p><b>{% trans 'Address' %}</b>: {{ address.address }}</p>
                            {% endif %}

                            {% if address.phones %}
                            <p>
                                <b>{% trans 'Phones' %}</b>:
                                {% for phone in address.phones_list %}
                                <nobr>{{ phone }}</nobr>
                                {{ forloop.last|yesno:",&#44;"|safe }}
                                {% endfor %}
                            </p>
                            {% endif %}

                            {% if address.email %}
                            <p><b>{% trans 'E-mail' %}</b>: <a href="mailto:{{ address.email }}">{{ address.email }}</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div id="yandex-map"></div>

    <script>

		ymaps.ready(init)

		function init() {

			myMap = new ymaps.Map('yandex-map', {
				center: [55.895909, 37.52379],
				zoom: 14,
				controls: []
			}, {
				searchControlProvider: 'yandex#search'
			})

			addresses = document.querySelectorAll('.address');

			[].forEach.call(addresses, function (el) {
				if (el.dataset.lat && el.dataset.lng) {
					lat = parseFloat(el.dataset.lat.replace(',', '.'))
					lng = parseFloat(el.dataset.lng.replace(',', '.'))
					coord = [lat, lng]
					console.log(coord)

					myMap.geoObjects.add(new ymaps.Placemark(coord))

					el.onclick = function (e) {
						lat = parseFloat(el.dataset.lat.replace(',', '.'))
						lng = parseFloat(el.dataset.lng.replace(',', '.'))
						coord = [lat, lng]
						myMap.setCenter(coord)
						console.log(coord)
					}
				}

			})
		}

    </script>
</div>

{% endblock content %}

