@import "popups_core";


#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: url(overlay.png) repeat 0 0 black;
  @include opacity(0.8);
}

#popup-container {
  .popup-window {
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 80%;
    min-width: 500px;
    @include media_interval(0, $media768) {
      min-width: 200px;
      max-width: 90%;
    }
  }

  .popup-close-button {
    position: absolute;
    top: -36px;
    right: -36px;
    width: 36px;
    height: 36px;
    z-index: 6;
    cursor: pointer;
    @include transform(scale(0.8));
    @include transition(transform 0.2s);
    @include media_interval(0, $media768) {
      display: none;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80%;
      height: 5px;
      background: $gray;
      @include border_radius(10px);
    }
    &:before {
      @include transform(translate3d(-50%, -50%, 0) rotate(45deg));
    }
    &:after {
      @include transform(translate3d(-50%, -50%, 0) rotate(-45deg));
    }

    &:hover {
      @include transform(scale(1));
      &:before, &:after {
        background: $white;
      }
    }
  }

  .popup-content {
    padding: 36px;
    min-height: 200px;
    color: $white;
    background-color: $green;
    @include media_interval(0, $media480) {
      padding: 20px 20px 26px;
      min-height: 100px;
    }

    .title {
      color: $white;
      margin-bottom: 30px;
      @include media_interval(0, $media480) {
        margin-bottom: 16px;
      }
    }

    .btn {
      min-width: 150px;
      @include font-size(16px);
      @include media_interval(0, $media480) {
        @include font-size(14px);
      }
    }
  }
}
