@import 'mixins';

#popup-container.popup-preloader {
  .popup-window {
    width: auto;
  }

  .popup-content {
    padding: 0;
    text-align: center;
    @include valign_after;
  }

  svg {
    width: 80px;
    height: 80px;
    fill: $white;
    vertical-align: middle;
    @include media_interval(0, $media480) {
      width: 64px;
      height: 64px;
    }
  }
}
