{% extends 'layout.html' %}

{% load attachable_blocks %}
{% load pipeline_plus %}
{% load away %}
{% load text %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'policy' %}
{% endblock static_head %}


{% block content %}

  <div class="grid block">
    <div class="gc-wide-8 gc-center">
      <div class="text text-styles">
        <h1>{{ config.header|clean }}</h1>
        {% away config.text|typograf %}
      </div>
    </div>
  </div>

  {% render_attached_blocks config %}

{% endblock content %}
