{% load i18n %}

<div id="related">
  <div class="grid-block">
    <h2 class="title title-h2">{% trans 'Related products' %}</h2>

    <div class="products-wrapper">
      {% include 'shop/products.html' %}
    </div>
  </div>
</div>
