{% extends 'layout.html' %}

{% load pipeline_plus %}
{% load paginator %}
{% load i18n %}

{% block critical_css %}
  {{ block.super }}
  {% inline_stylesheet 'search' %}
{% endblock critical_css %}


{% block content %}

  <div class="page-block">
    {% include 'shop/header.html' %}

    {% if paginator %}
      <div class="grid-block">
        <div class="products-wrapper">
          {% with products=paginator.current_page %}
            {% include 'shop/products.html' %}
          {% endwith %}

          {% if paginator.num_pages > 1 %}
            <div id="paginator">
              {% paginator paginator %}
            </div>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="grid-block">
        <div class="text-styles">
          Попробуйте поискать по более простому запросу, например:
          <a href="?q=Фонтан">Фонтан</a>,
          <a href="?q=Сопло">Сопло</a>,
          <a href="?q=Спринклер">Спринклер</a>
        </div>
      </div>

      {{ related }}
    {% endif %}
  </div>

{% endblock content %}

