@import 'mixins';

footer {
  color: $white;
  background: $green;

  .footer-addresses {

  }

  .footer-menu {
    li {
      padding-bottom: 4px;
      @include column-break-inside(avoid);
    }

    a {
      @include small_fontsize;

      &:hover {
        @include opacity(0.75);
      }
    }
  }

  .phones-footer {
    line-height: 1.4;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: -38%;
    font-size: 24px;
    font-size: 1.2rem;
    text-align: right;
  }

  .phones-wrapper {
    display: flex;
    flex-flow: column;
  }

  .socials {
    .socials-references-wrapper {
      display: flex;
      justify-content: space-evenly;
    }

    .phones {
      display: flex;
      flex-flow: column;
      margin-top: 2rem;
    }


    @media screen and (max-width: 1023px) {
      .phones {
        align-items: flex-end !important;
      }
    }

    @media screen and (max-width: 479px) {
      .phones {
        align-items: center !important;
      }
    }

    a:not(.phones-footer) {
      display: inline-block;
      margin-right: 10px;
      width: 30px;
      height: 30px;
      vertical-align: middle;
      background: $sprite_url no-repeat -342px -1px;

      &:last-child {
        margin-right: 0;
      }

      &.li {
        background-position: -374px -1px;
      }

      &.tw {
        background-position: -406px -1px;
      }

      &.tg {
        background: url("/static/main/icons/tg.svg") no-repeat;
        background-size: 100%;
      }

      &.go {
        background: url("/static/main/icons/instagram.svg") no-repeat;
      }

      &.vk {
        background-position: -470px -1px;
      }

      &.ok {
        background-position: -502px -1px;
      }

      &.yt {
        background-position: -678px -1px;
      }

      &:hover {
        @include opacity(0.8);
      }
    }
  }

  .phone {
    display: inline-block;
    @include media_interval(0, $media768) {
      @include font-size(20px);
    }

    &:hover {
      @include opacity(0.75);
    }
  }

  .rating-wrapper {
    display: none;

    p {
      @include opacity(0.75);
      @include font-size(14px);
    }
  }


  .flex {
    @include flexbox;
    @include flex-flow(row wrap);
    @include media_interval(0, $media480) {
      text-align: center;
    }

    @media (min-width: 1260px) and (max-width: 1286px) {
      flex-flow: row !important;
    }
  }

  .footer-menu {
    @include media_interval(0, $media480) {
      @include flex(0 100%);
    }

    ul {
      @include media_interval(1260px, 0) {
        @include column-count(2);
        @include column-gap(50px);
      }
      @include media_interval($media900, $media1024) {
        @include column-count(2);
        @include column-gap(50px);
      }
    }
  }

  .right-box {
    @include flexbox;
    @include flex(1 0 auto);
    @include media_interval(0, $media1024) {
      @include flex-flow(column wrap);
    }
    @include media_interval(0, $media480) {
      margin-top: 30px;
      @include flex(0 100%);
    }
  }

  .socials {
    padding: 0 30px;
    text-align: center;
    @include flex(1 0 auto);
    @include media_interval($media480, $media1024) {
      text-align: right;
    }
    @include media_interval(0, $media1024) {
      margin-bottom: 16px;
      padding: 0;
      @include flex(0 0 auto);
    }
  }

  .phone-rating {
    @include flexbox;
    @include flex-flow(column nowrap);
    @include media_interval($media480, $media1024) {
      text-align: right;
    }
    @include media_interval($media640, $media1024) {
      margin-bottom: 16px;
      @include flex-flow(row nowrap);
    }
    @include media_interval(0, $media640) {
      margin-bottom: 16px;
    }

    .phone-wrapper {
      display: flex;
      flex-direction: column;
      align-items: baseline;

      a:not(:first-child) {
        margin-top: 5px;
      }

      @include media_interval($media640, $media1024) {
        margin-top: 0;
        //padding-right: 20px;
        @include flex(1 0 auto);
      }
      @include media_interval(0, $media640) {
        margin-top: 0;
      }
    }
  }

  .request-logo {
    @include flexbox;
    @include flex-flow(column nowrap);
    @include media_interval($media480, 0) {
      padding-left: 30px;
      text-align: right;
    }
    @include media_interval($media640, $media1024) {
      margin-bottom: 16px;
      @include flex-flow(row nowrap);
    }
    @include media_interval(0, $media640) {
      margin-bottom: 16px;
    }

    .btn-wrapper {
      @include media_interval($media640, $media1024) {
        //padding-right: 20px;
        @include flex(1 0 auto);
      }
      @include media_interval(0, $media640) {
        margin-top: 0;
      }
    }

    .rating-wrapper {
      margin-top: 33px;
      @include media_interval($media640, $media1024) {
        margin-top: 0;
        @include flex(0 0 112px);
      }
      @include media_interval(0, $media640) {
        margin-top: 10px;
      }
    }
  }
}


.page-content {
  background-color: $gray;

  .addresses {
    @include flexbox;
    @include flex-flow(row wrap);
    @include justify-content(flex-start);
    @include align-items(flex-start)
  }

  .address {
    margin-top: 50px;
    margin-right: 40px;
    @include border-box;
    @include small_fontsize;
    @include media_interval($media1024, 0) {
      max-width: 25%;
      @include flex(1 0 0);
      &:nth-of-type(4n) {
        margin-right: 0;
      }
    }
    @include media_interval($media400, $media1024) {
      max-width: 50%;
      @include flex(1 0 40%);
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    @include media_interval($media400, $media768) {
      margin-top: 30px;
    }
    @include media_interval(0, $media400) {
      margin-top: 20px;
      margin-right: 0;
      @include flex(1 0 100%);
    }

    .clickable {
      cursor: pointer;
    }

    .city {
      margin-bottom: 8px;
      line-height: 1;
      font-weight: bold;
      @include font-size(18px);
      @include media_interval(0, $media640) {
        @include font-size(16px);
      }
      @include media_interval(0, $media400) {
        margin-bottom: 4px;
      }
    }

    .email {
      &:hover {
        @include opacity(0.8);
      }
    }
  }
}