{% extends 'layout.html' %}

{% load pipeline_plus %}
{% load text %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'about_page' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'about_page' %}
{% endblock static_js %}


{% block content %}

  <div class="page-content green-overlay">
    <img src="{{ config.background.desktop.url }}" class="parallax"
         srcset="{{ config.background.desktop.srcset }},
                 {{ config.background.tablet.srcset }},
                 {{ config.background.mobile.srcset }}"
         sizes="100vw" alt="">

    <div class="overlay grid block">
      <div class="gc">
        <h1 class="page-title title-h1">{{ config.header }}</h1>
      </div>

      <div class="left-column gc-wide-6 gc-6">
        <div class="text-styles">{{ config.text|typograf|safe }}</div>
      </div>

      <div class="right-column gc-wide-6 gc-6">
        <div class="advantages">
          {% for advantage in config.advantages.all %}
            <div class="advantage">
              <div class="icon-green icon-{{ advantage.icon }}"></div>
              <div class="name">{{ advantage.title }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
