{% load pipeline_plus %}
{% load paginator %}
{% load text %}
{% load social_networks %}
{% load i18n %}

<article class="post gc-wide-4 gc-4 gc-tablet-4" itemscope itemtype="http://schema.org/BlogPosting">
  <meta itemprop="dateModified" content="{{ post.updated|date:"c" }}"/>
  <link itemprop="mainEntityOfPage" href="{{ post.get_absolute_url }}"/>
  <link itemprop="author" href="#org"/>
  <link itemprop="publisher" href="#org"/>

  {% if post.preview %}
    <a href="{{ post.get_absolute_url }}" class="preview" itemprop="image" itemscope
       itemtype="http://schema.org/ImageObject">
      <img src="{{ post.preview.small.url }}" itemprop="url">
      <meta itemprop="width" content="{{ post.preview.normal.target_width }}"/>
      <meta itemprop="height" content="{{ post.preview.normal.target_height }}"/>
    </a>
  {% endif %}

  <header>
    <time datetime="{{ post.date|date:"c" }}" class="date" itemprop="datePublished">
      {{ post.date|date:"j/n/Y" }}
    </time>
    {% if post.tag %}
      <div class="note" itemprop="articleBody">
        {{ post.tag }}
      </div>
    {% endif %}

    <h2 class="title">
      <a href="{{ post.get_absolute_url }}">
        <span itemprop="headline">{{ post.header }}</span>
      </a>
    </h2>
  </header>
</article>