{% extends 'layout.html' %}

{% load pipeline_plus %}
{% load away %}
{% load text %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'blog_detail' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
  <script src="//yastatic.net/share2/share.js"></script>
  {% javascript 'blog_detail' %}
{% endblock static_js %}


{% block content %}

  <div id="blog-post" itemscope itemtype="http://schema.org/Article">
    <meta itemprop="dateModified" content="{{ post.updated|date:"c" }}"/>
    <link itemprop="mainEntityOfPage" href="{{ post.get_absolute_url }}"/>
    <link itemprop="author" href="#org"/>
    <link itemprop="publisher" href="#org"/>

    {% if post.preview %}
      <div class="preview" style="display: none" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <img src="{{ post.preview.small.url }}" itemprop="url">
        <meta itemprop="width" content="{{ post.preview.normal.target_width }}"/>
        <meta itemprop="height" content="{{ post.preview.normal.target_height }}"/>
      </div>
    {% endif %}

    <div class="section post-header">
      <div class="grid">
        <div class="gc-wide-8 gc-center">
          {% if post.preview %}
            <img class="preview section-image" src="{{ post.preview.normal.url }}">
          {% endif %}
          <div class="section-inner">
            <h1 class="title title-h1" itemprop="headline">{{ post.header }}</h1>
            <time datetime="{{ post.date|date:"c" }}" class="date" itemprop="datePublished">
              {{ post.date|date }}
            </time>
            {% if post.tag %}
              <div class="tag" itemprop="articleBody">
                {{ post.tag }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="grid block">
      <div class="gc-wide-8 gc-center">

        <div class="text text-styles" itemprop="articleBody">
          {% away post.text|typograf %}
        </div>

        <div class="social-buttons-ya">
          <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus" data-counter=""></div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
