{% extends 'layout.html' %}

{% load social_networks %}
{% load pipeline_plus %}
{% load paginator %}
{% load text %}
{% load i18n %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'blog' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'blog' %}
{% endblock static_js %}


{% block content %}

  <div id="blog" class="block">
    <div class="grid">
      <div class="gc-wide-2"><h1 class="title-h1">{{ config.header }}</h1></div>
      <div class="gc-wide-10">
        {% if tags %}
          <ul id="tags">
            <li class="tag {% if not current_tag %}active{% endif %}">
              <a href="{% url 'blog:index' %}">{% trans 'All' %}</a>
            </li>

            {% for tag in tags %}
              <li class="tag {% if current_tag.pk == tag.pk %}active{% endif %}">
                <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>


    <div id="posts">
      <div class="grid">
        {% for post in paginator.current_page %}
            <article class="post gc-wide-4 gc-4 gc-tablet-4" itemscope itemtype="http://schema.org/BlogPosting">
              <meta itemprop="dateModified" content="{{ post.updated|date:"c" }}"/>
              <link itemprop="mainEntityOfPage" href="{{ post.get_absolute_url }}"/>
              <link itemprop="author" href="#org"/>
              <link itemprop="publisher" href="#org"/>

              {% if post.preview %}
                <a href="{{ post.get_absolute_url }}" class="preview" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                  <img src="{{ post.preview.small.url }}" itemprop="url">
                  <meta itemprop="width" content="{{ post.preview.normal.target_width }}"/>
                  <meta itemprop="height" content="{{ post.preview.normal.target_height }}"/>
                </a>
              {% endif %}

              <header>
                <time datetime="{{ post.date|date:"c" }}" class="date" itemprop="datePublished">
                  {{ post.date|date:"j/n/Y" }}
                </time>
                {% if post.tag %}
                  <div class="note" itemprop="articleBody">
                    {{ post.tag }}
                  </div>
                {% endif %}

                <h2 class="title">
                  <a href="{{ post.get_absolute_url }}">
                    <span itemprop="headline">{{ post.header }}</span>
                  </a>
                </h2>
              </header>
            </article>
        {% endfor %}
      </div>

      {% if paginator.num_pages > 1 %}
        <div id="paginator">
          <div class="grid-block">
            {% paginator paginator %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock content %}
