{% extends "admin/change_form.html" %}

{% block object-tools %}
{% endblock %}

{% block submit_buttons_bottom %}
  <div class="submit-row clearfix">
    <a href="../" class="btn btn-high btn-info"
       style="padding: 10px 0 0 0; margin: 0; box-sizing: border-box;">Назад</a>
  </div>
{% endblock %}
