@import 'mixins';

.breadcrumbs {
  @include font-size(14px);

  .breadcrumb-item {
    display: inline;
    color: $dark_gray;

    &.active {
      color: $brown;
      font-weight: bold;
    }

    a:hover {
      color: $brown;
    }

    &:after {
      content: '/';
      margin: 0 5px;
    }
    &:nth-last-of-type(1) {
      &:after {
        content: none;
      }
    }
    &:nth-child(1) {
      &:after {
        content: '/';
      }
    }
  }
}
