{% extends 'layout.html' %}

{% load pipeline_plus %}
{% load solo_tags %}
{% load i18n %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'error_page' %}
{% endblock static_head %}


{% block title %}{% trans 'Page not found' %}{% endblock %}

{% block content %}
  {% get_solo "config.Config" as config %}

  <div class="grid-block block">
    <div class="text-styles">
      <h1 class="title title-h1">404</h1>

      <p>
        Упс! Мы не можем найти то, что вы ищете.<br>
        Вернитесь на <a href="/">главную страницу</a>.<br>
        Или свяжитесь с нами по телефону: <nobr>{{ config.phone }}</nobr>
      </p>
    </div>
  </div>

{% endblock %}
