{% extends 'layout.html' %}

{% load pipeline_plus %}
{% load i18n %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'error_page' %}
{% endblock static_head %}


{% block title %}{% trans 'Server error' %}{% endblock %}

{% block content %}
  <div class="grid-block block">
    <div class="text-styles">
      <h1 class="title title-h1">500</h1>

      <p>
        Упс! Что-то пошло не так...<br/>
        Вернитесь на <a href="/">главную страницу</a>.<br/>
        Или свяжитесь с нами по телефону: <nobr>8 800 897-43-63</nobr>
      </p>
    </div>
  </div>

{% endblock %}
