{% load pipeline_plus %}
{% load staticfiles %}
{% load js_storage %}
{% load header %}
{% load footer %}
{% load shop %}
{% load seo %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="{{ LANGUAGE_CODE }}" data-google-apikey="{{ GOOGLE_APIKEY }}">
<head>
    <title>{% block title %}{{ request.seo.title }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block metatags %}
        {% include 'seo/metatags.html' %}
    {% endblock metatags %}

    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{% static 'img/logo-svg.svg' %}" type="image/x-icon">

    {# === SCRIPTS === #}
    <script>
		var docElement = document.documentElement
		docElement.className = docElement.className.replace(/\bno-js\b/, '') + ' js'
    </script>
    {# === STYLES === #}
    {% include 'pipeline/_loadcss.html' %}

    {% block critical_css %}
        {% inline_stylesheet 'critical' %}
    {% endblock critical_css %}

    {% stylesheet 'fonts' %}
    {% stylesheet 'core' %}
    {% block static_head %}{% endblock static_head %}

    {% include 'pipeline/_preloadcss.html' %}
    {% seo_counters 'head' %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% seo_counters 'body_top' %}

<div id="wrapper">
    {% block header %}
        {% cart as cart %}

        <div id="header-wrapper">
            <header class="{{ cart|yesno:"with-cart," }}">
                {{ cart }}
                {% block header_content %}
                    {% header %}
                {% endblock header_content %}
            </header>
        </div>
    {% endblock header %}

    <div id="content-wrapper">
        <div class="content">
            {% block content %}{% endblock content %}
        </div>
    </div>

    {% block footer %}
        <div id="footer-wrapper">
            <footer>
                {% block footer_content %}
                    {% footer %}
                {% endblock footer_content %}
            </footer>
        </div>
    {% endblock footer %}
</div>


<script src="{% url 'jsi18n' %}"></script>

<!--[if lte IE 9]>
    <script src="{% static 'polyfills/es5-shim.min.js' %}"></script>
    <script src="{% static 'polyfills/respond.min.js' %}" defer async></script>
  <![endif]-->

{% block static_js %}
    {% js_storage_out %}
    {% javascript 'core' %}
{% endblock static_js %}


{% seo_counters 'body_bottom' %}
</body>
</html>
