.order-header {
  padding: 40px 0;
  background: $green;
  border-bottom: 3px solid #74a829;

  &-inner {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    @include media_interval(0, $media768) {
      @include flex-direction(column);
      @include justify-content(flex-start);
      @include align-items(flex-start);
    }

    .btn {
      margin-top: 20px;
    }
  }

  .title {
    color: $white;
  }
}

.order-total {
  text-align: center;

  .total-text {
    @include fontsize_default;
  }

  .title {
    margin-top: 15px;
  }

  .total-buttons {
    margin: 25px -10px 0;
    .btn {
      margin: 0 10px;
      @include media_interval(0, $media480) {
        display: block;
        margin: 0 auto;
        &:last-of-type {
          margin-top: 10px;
        }
      }
    }
  }
}