@import "mixins";


.category {
  margin-top: 40px;
  @include media_interval(0, $media768) {
    margin-top: 32px;
  }

  &:first-child {
    margin-top: 0;
  }

  .title {
    margin-bottom: 8px;

    > span {
      margin-right: 26px;
      vertical-align: middle;
      @include media_interval(0, $media640) {
        display: block;
      }
    }
  }

  .description {
    margin-top: 18px;
    @include small_fontsize;

    h2, h3, h4 {
      margin: 1em 0 .2em;
      font-weight: bold;
      font-size: 1.2em;
    }

    p {
      margin-bottom: 1em;
    }
  }

  .see-all {
    margin-top: 10px;
    color: $green;
    vertical-align: text-bottom;
  }
}

.products {
  .product {
    @include media_interval(1300px, 0) {
      @include flex-columns(6, 20px, 20px);
    }
    @include media_interval(1160px, 1300px) {
      @include flex-columns(5, 20px, 20px);

      .one-line & {
        &:nth-of-type(6) {
          display: none;
        }
      }

      .two-lines & {
        @each $index in 11, 12 {
          &:nth-of-type(#{$index}) {
            display: none;
          }
        }
      }
    }
    @include media_interval($media900, 1160px) {
      @include flex-columns(4, 20px, 20px);

      .one-line & {
        @each $index in 5, 6 {
          &:nth-of-type(#{$index}) {
            display: none;
          }
        }
      }

      .two-lines & {
        @each $index in 9, 10, 11, 12 {
          &:nth-of-type(#{$index}) {
            display: none;
          }
        }
      }
    }
    @include media_interval($media640, $media900) {
      @include flex-columns(3, 20px, 20px);
    }
    @include media_interval($media360, $media640) {
      @include flex-columns(2, 20px, 20px);
    }
    @include media_interval(0, $media360) {
      @include flex-columns(2, 14px, 14px);

      .product-inner {
        padding: 16px;
      }

      .product-title {
        @include font-size(12px);
      }
    }
  }
}