@import "mixins";

$one_column: $media860;

.content {
  background-color: $gray;
}

.content-header {
  @include media_interval(0, $media400) {
    margin-bottom: 24px;
  }
}

#category-page {
  .description {
    margin-top: 18px;
    @include small_fontsize;

    h2, h3, h4 {
      margin: 1em 0 .2em;
      font-weight: bold;
      font-size: 1.2em;
    }

    p {
      margin-bottom: 1em;
    }
  }

  .flex {
    @include flexbox;
    @include flex-flow(row nowrap);
    @include align-items(flex-start);
    @include media_interval($one_column, 0) {
      max-width: $grid_max_width;
      margin: 0 auto;
      @include border-box;
      @include media_map((padding-left, padding-right), $grid_full_paddings);
    }
    @include media_interval(0, $one_column) {
      @include align-items(stretch);
      @include flex-flow(column nowrap);
    }
  }
}

.category-menu {
  @include media_interval($one_column, 0) {
    padding-top: 10px;
    padding-right: 20px;
    @include border-box;
    @include flex(0 0 200px);
  }
}

.shower-title {
  border-bottom: 1px solid $gray;
  background-color: $white;
  @include media_interval($one_column, 0) {
    display: none;
  }

  &:nth-last-of-type(1) {
    border-bottom: none;
  }

  span {
    display: block;
    position: relative;
    padding: 12px 0;
    z-index: 1;
    cursor: pointer;
    font-weight: bold;
    @include font-size(16px);
    @include media_map((padding-left, padding-right), $grid_full_paddings);

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 18px;
      height: 10px;
      background: $sprite_url no-repeat -18px -242px;
      @include media_map(right, $grid_full_paddings);
      @include transform(translateY(-50%));
      @include transition(-webkit-transform 0.5s, transform 0.5s);
    }
  }

  &.opened {
    span:after {
      @include transform(translateY(-50%) rotate(180deg));
    }
  }
}

.shower-block {
  @include media_interval($one_column, 0) {
    display: block !important;
  }
  @include media_interval(0, $one_column) {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    @include media_map((padding-left, padding-right), $grid_full_paddings);
    &:nth-last-of-type(1) {
      padding-bottom: 0;
    }
  }
}

.category-tree {
  .category {
    &.level-1 {
      margin-bottom: 20px;

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
    }

    &.level-2 {
      margin-top: 8px;
    }
  }

  .link {
    display: inline-block;
    line-height: 1.1;
    @include small_fontsize;

    &.level-1 {
      font-weight: bold;
    }

    &.level-2 {
      position: relative;
      padding-left: 1em;
      z-index: 1;

      &:before {
        content: '\2022';
        position: absolute;
        left: 0;
        top: -1px;
        z-index: 1;
      }
    }

    &.current {
      color: $green;
    }

    &:hover {
      color: #808285;
    }
  }
}

.products-wrapper {
  @include media_interval($one_column, 0) {
    margin-top: 10px;
    @include flex(1 0 0);
  }
  @include media_interval(0, $one_column) {
    margin-top: 28px;
    @include media_map((padding-left, padding-right), $grid_full_paddings);
  }
  @include media_interval(0, $media400) {
    margin-top: 24px;
  }

  .product {
    @include media_interval(1300px, 0) {
      @include flex-columns(5, 20px, 20px);
    }
    @include media_interval(1160px, 1300px) {
      @include flex-columns(4, 20px, 20px);
    }
    @include media_interval($media900, 1160px) {
      @include flex-columns(3, 20px, 20px);
    }
    @include media_interval($one_column, $media900) {
      @include flex-columns(2, 20px, 20px);
    }
    @include media_interval($media640, $one_column) {
      @include flex-columns(3, 20px, 20px);
    }
    @include media_interval($media360, $media640) {
      @include flex-columns(2, 20px, 20px);
    }
    @include media_interval(0, $media360) {
      @include flex-columns(2, 14px, 14px);

      .product-inner {
        padding: 16px;
      }
      .product-title {
        @include font-size(12px);
      }
    }
  }
}