@import "mixins";

$one_column: $media860;

.producers-block {
  &.has-tree {
    @include media_interval($one_column, 0) {
      margin-top: 38px;
      padding-top: 38px;
      border-top: 2px solid $green;
    }
  }

  .title {
    margin-bottom: 10px;
    color: $brown;
    font-weight: bold;
    line-height: 1.1;
    @include small_fontsize;
    @include media_interval(0, $one_column) {
      display: none;
    }
  }

  .producers-list {
    @include small_fontsize;

    .producer {
      margin-bottom: 2px;
      @include media_interval(0, $one_column) {
        margin-bottom: 6px;
      }

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }

      label {
        @include unselectable;
      }
    }
  }

  .btn {
    min-width: 150px;
    margin-top: 10px;
    @include media_interval(0, $one_column) {
      margin-top: 20px;
    }
    @include media_interval(0, $media480) {
      min-width: 120px;
    }
  }
}

.post-container {
  margin: 35px auto -35px;
  @include flexbox;
  @include flex-wrap(wrap);
}

.block-additional {
  background-color: $white;
  border-top: 1px solid #eeebe9;
}

#suppliers_block.block {
  padding-bottom: 50px;
}


#tags {
  margin-bottom: 60px;
  @include flexbox;
  @include align-items(flex-start);
  @include justify-content(flex-start);

  @include media_interval(0, $media768) {
    margin-bottom: 30px;
  }

  @include media_interval(0, $media400) {
    margin-bottom: 10px;
  }

  .tag {
    display: inline-block;
    margin: 10px 20px 10px 0;
    color: $brown;
    @include font-size(14px);

    &.active {
      color: $green;
    }
  }
}

#posts {
  .post {
    margin-bottom: 50px;
    @include media_interval(0, $media768) {
      margin-bottom: 30px;
    }
  }

  .date {
    color: #A0A0A0;
    margin-right: 10px;
    @include font-size(14px);
  }

  .note {
    display: inline-block;
    color: $green;
    @include font-size(14px);
  }

  .title {
    font-weight: bold;
  }

  .preview {
    display: block;
    margin-bottom: 16px;

    img {
      width: 100%;
    }
  }
}

article {
  margin-bottom: 25px !important;
}

.item-video {
  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .block-title {
    margin: 0 auto 22px;
    letter-spacing: 0.1pt;
  }
}

.back-posts-video {
  background-color: #f2f2f2;

  &.block {
    padding-bottom: 0;
  }
}

.block-posts.block {
  margin-bottom: -35px;
}

.item-video,
#category-page + .back-posts-video.block,
#category-page + .testimonials.block,
.block-additional + .item-video {
  padding-top: 0;
}

.back-posts-video.block:last-of-type {
  @include media_map(padding-bottom, $page_margin);
}

.block-posts + .item-video {
  @include media_map(padding-top, $page_margin);
}

.m60 {
  margin-top: 60px !important;
  overflow: hidden;
  position: relative;
}

.m60.hide {
  height: 100px
}

.m60.hide:after {
  content: "";
  display: block;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f2f2f2 75%)
}

.dnone{
  display: none;
}