@import "mixins";

#photo-column {
  .slider-navigation {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    z-index: 3;
    @include media_interval(0, $media768) {
      min-height: 30px;
    }

    .slider-navigation-item {
      &:before {
        width: 9px;
        height: 9px;
        border: 1px solid #D8D8D8;
        background-color: $white;
      }

      &:hover:before {
        background-color: #D8D8D8;
      }

      &.active:before {
        width: 10px;
        height: 10px;
        border: none;
        background-color: $brown;
      }
    }
  }
}


#note-column {
  .interface {
    margin-top: 20px;
    margin-bottom: 40px;
    @include flexbox;
    @include flex-flow(row wrap);
    @include align-items(flex-end);
    @include media_interval(0, $media640) {
      margin-top: 0;
    }

    .price-wrapper {
      margin-top: 20px;
      margin-right: 30px;
      @include font-size(14px);

      .price {
        margin-top: 5px;
        line-height: 1;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        @include font-size(38px);
        @include media_interval(0, $media480) {
          @include font-size(32px);
        }

        &.discount-price {
          color: #e96705;
        }
      }

      .old-price {
        margin-top: 10px;

        & + .price {
          margin-top: 0;
        }
      }

      .discount-tag {
        margin-left: 10px;
      }
    }

    .order-count {
      margin-top: 20px;
      @include flexbox;
      @include flex-flow(row nowrap);
      @include align-items(flex-end);
      @include media_interval(0, $media360) {
        width: 100%;
        @include justify-content(space-between);
      }

      .custom-counter {
        margin-right: 20px;
        @include media_interval(0, $media360) {
          margin-right: 0;
        }
      }

      > .btn {
        width: 160px;
        @include font-size(16px);
        @include media_interval(0, $media480) {
          width: 130px;
        }
      }
    }
  }
}

.manual {
  .manual-icon {
    display: inline-block;
    width: 18px;
    height: 24px;
    margin-right: 7px;
    vertical-align: middle;
    background: $sprite_url no-repeat -67px -186px;
  }

  & + .manual {
    margin-top: 5px;
  }
}

.item-video {
  .video-container {
    margin-top: 20px;
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
  }

  .video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

#other_products {
  .title {
    margin-bottom: 20px;
  }
}
