@import "mixins";

.content {
  background: $gray;
}

#detail {
  margin-top: 40px;
  @include flexbox;
  @include align-items(stretch);
  @include justify-content(space-between);
  @include media_interval(0, $media768) {
    @include flex-flow(column nowrap);
  }
  @include media_interval($media400, $media480) {
    margin-top: 32px;
  }
  @include media_interval(0, $media400) {
    margin-top: 24px;
  }
}

#photo-column {
  @include media_interval($media1024, 0) {
    padding-right: $grid_column_gap;
    @include flex(50%);
  }
  @include media_interval($media768, $media1024) {
    padding-right: $grid_column_gap;
    @include flex(40%);
  }
  @include media_interval($media640, $media768) {
    margin-bottom: 44px;
  }
  @include media_interval(0, $media640) {
    margin-bottom: 36px;
  }

  .slider-slide {
    text-align: center;
  }

  .slider-item {
    @include media_interval(0, $media768) {
      max-width: 450px;
    }

    img {
      max-width: 100%;
    }
  }
}

#note-column {
  @include media_interval($media1024, 0) {
    padding-left: $grid_column_gap;
    @include flex(50%);
  }
  @include media_interval($media768, $media1024) {
    padding-left: $grid_column_gap;
    @include flex(60%);
  }

  .title {
    margin-bottom: 1.1em;
  }

  .features {
    margin-bottom: 1.3em;
    @include media_interval(0, $media640) {
      margin-bottom: 1em;
    }
  }
}