@import "mixins";


#cart {
  position: fixed;
  padding: 20px 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 60;
  color: $white;
  background-color: $green;
  @include box-shadow(0px 3px 6px rgba(128, 128, 128, 0.4));

  // линия
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    z-index: 1;
    background-color: #74A829;
  }

  .cart-content {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);

    .title-wrapper {
      .title {
        color: $white;
        height: auto;
      }
    }

    .checkout-wrapper {
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);

      & > span {
        font-weight: 300;
        @include font-size(18px);
        @include media_interval($media640, $media768) {
          @include font-size(14px);
        }
        @include media_interval(0, $media640) {
          display: none;
        }
      }

      .btn {
        width: 153px;
        margin-left: 20px;
        @include media_interval(0, $media480) {
          width: 141px;
        }
      }
    }
  }
}