@import "mixins";

$one_column: $media860;


.content-header {
  .title {
    margin-bottom: 18px;
    @include media_interval(0, $media640) {
      margin-bottom: 10px;
    }
  }
}

#shop-submenu {
  position: relative;
  padding: 14px 0;
  background: $green;
  @include box-shadow(0px 3px 6px rgba(128, 128, 128, 0.4));

  // линия
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    z-index: 1;
    background-color: #74A829;
  }

  ul {
    @include media_interval($media900, 0) {
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);
    }
    @include media_interval($media480, $media900) {
      @include column-count(2);
      @include column-gap(40px);
    }
  }

  li {
    margin-right: 20px;
    min-width: 100px;
    color: $white;
    line-height: 1.2;
    text-align: center;
    @include font-size(18px);
    @include media_interval($media900, 0) {
      @include flex(0 1 auto);
    }
    @include media_interval(0, $media900) {
      text-align: left;
    }
    @include media_interval(0, $media400) {
      @include font-size(16px);
    }

    &:last-child {
      margin-right: 0;
    }

    &.active a {
      color: $brown;
    }
  }

  a {
    display: inline-block;
    padding: 14px 10px;
    margin: 0 -10px;
    @include media_interval($media480, $media900) {
      padding: 2px 10px;
      margin: 6px -10px;
    }
    @include media_interval(0, $media480) {
      padding: 2px 0;
      margin: 4px 0;
    }

    &:hover {
      @include opacity(0.8);
    }
  }
}
