@import "mixins";

.categories {
  margin-top: 18px;
  @include media_interval(0, $media768) {
    margin-top: 30px;
  }
}

.description {
  margin-top: 18px;
  @include small_fontsize;

  h2, h3, h4 {
    margin: 1em 0 .2em;
    font-weight: bold;
    font-size: 1.2em;
  }

  p {
    margin-bottom: 1em;
  }
}