@import "mixins";
@import "order_header";

.content {
  background-color: $gray;
}

.content-header {
  margin-bottom: 36px;
  @include media_interval(0, $media400) {
    margin-bottom: 24px;
  }
}

#cart {
  display: none;
}

header{
  &.with-cart {
    padding-top: 0;
  }
}

#order-cart {
  line-height: 1.2;
  @include media_map(padding-top, $page_margin);

  .forms-here {
    background: $white;
  }

  .in-your-cart {
    padding-top: 30px;
  }

  .table {
    width: 100%;
  }

  tr {
    &.removing {
      td {
        @include opacity(0.3);
        @include transition(opacity 0.2s);
      }
    }
  }

  td {
    padding: 20px 10px;
    border-top: 1px solid $dark_gray;

    &:nth-of-type(1) {
      padding-left: 0;
    }
    &:nth-last-of-type(1) {
      padding-right: 0;
    }
  }

  .product-image {
    img {
      width: 100%;
    }
  }

  .product-title {
    font-weight: bold;
    vertical-align: middle;
  }

  .product-count {
    white-space: nowrap;
    vertical-align: middle;

    .order-count {
      display: inline-block;
      vertical-align: middle;
    }

    .per-price {
      margin-left: 10px;
      color: $green;
      vertical-align: middle;

      &.discount-price {
        color: #e96705;
      }
    }
  }

  .product-price {
    line-height: 1;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: middle;
  }

  .product-remove {
    text-align: right;
    vertical-align: middle;

    a {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: $sprite_url no-repeat -84px -185px;
    }
  }

  .total-price {
    padding-top: 40px;
    padding-bottom: 0;
    vertical-align: middle;
  }

  .form-submit {
    padding-top: 40px;
    padding-bottom: 0;
    vertical-align: bottom;
  }

  // ===================================================================

  /*
    1024 +
  */
  .table-wide {
    @include media_interval(0, $media1024) {
      display: none;
    }

    .product-image {
      width: 180px;
      min-width: 120px;
      @include media_interval($media1200, 1340px) {
        width: 140px;
      }
      @include media_interval($media1024, $media1200) {
        width: 120px;
      }
    }

    .product-title {
      @include font-size(18px);
      @include media_interval($media1024, $media1200) {
        @include font-size(16px);
      }
    }

    .product-count, .product-price, .total-price {
      padding-left: 40px;
      @include media_interval($media1024, $media1200) {
        padding-left: 20px;
      }
    }

    .total-price, .product-price, .product-remove {
      width: 1px;
    }
  }

  // 768 - 1024
  .table-tablet {
    display: none;
    @include media_interval($media768, $media1024) {
      display: table;
    }

    .product-image {
      width: 120px;
    }

    .product-title-count {
      display: inline-block;
      height: 100%;

      .inner {
        height: 100%;
        @include flexbox;
        @include flex-flow(column nowrap);
        @include justify-content(space-between);
      }
    }

    .product-title {
      margin-bottom: 20px;
      @include font-size(16px);
    }

    .product-price, .total-price {
      padding-left: 20px;
    }

    .total-price, .product-price, .product-remove {
      width: 1px;
    }
  }

  // 0 - 768
  .table-mobile {
    display: none;
    @include media_interval(0, $media768) {
      display: table;
    }

    .row-inner {
      position: relative;
      z-index: 1;
    }

    .product-image {
      width: 140px;
    }

    .product-title {
      margin-top: 20px;
      @include font-size(16px);
    }

    .product-count-price {
      margin-top: 20px;
      @include flexbox;
      @include flex-flow(row nowrap);
      @include align-items(center);
      @include justify-content(space-between);
      @include media_interval(0, $media480) {
        @include flex-flow(column nowrap);
        @include align-items(flex-start);
      }
    }

    .product-price {
      @include media_interval(0, $media480) {
        margin-top: 20px;
      }
    }

    .product-remove {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }

    .total-price {
      padding-top: 0;
      margin-bottom: 20px;
    }

    .form-submit {
      padding-top: 0;
    }
  }
}

.submit-button {
  width: 180px;
  max-width: 100%;
}

.price-small {
  line-height: 1;
  font-weight: bold;
  @include font-size(25px);
  @include media_interval(0, 1340px) {
    @include font-size(21px);
  }
}

.price-big {
  line-height: 1;
  font-weight: bold;
  @include font-size(38px);
  @include media_interval($media1200, 1340px) {
    @include font-size(32px);
  }
  @include media_interval(0, $media1200) {
    @include font-size(28px);
  }
}

.signed-price {
  position: relative;
  line-height: 1;
  z-index: 1;
  white-space: nowrap;

  .sign {
    position: absolute;
    display: inline-block;
    left: 0;
    top: -20px;
    z-index: 2;
    @include font-size(14px);
    @include media_interval(0, $media768) {
      position: static;
      margin-bottom: 6px;
    }
  }
}


.order-cart-form {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  .form-inner {
    padding: 50px;
    background-color: #f3f3f3;
    @include flexbox;
    @include media_interval(0, $media1024) {
      @include flex-direction(column);
    }
    @include media_interval(0, $media768) {
      padding: 30px;
    }

    @include media_interval(0, $media640) {
      padding: 15px;
    }
  }

  .custom-radio-wrapper {
    background: $white;
    padding: 20px;
    @include flexbox;
    @include justify-content(space-between);
    @include flex-wrap(wrap);

    label {
      width: auto;
      font-weight: bold;
      color: $text_color;
      @include flex(0 0 50%);

      .description {
        font-weight: normal;
      }
    }

    .time {
      font-weight: bold;
    }

    .price {
      color: $green;
      font-weight: bold;
      text-transform: uppercase;
      @include media_interval(0, $media640) {
        margin-left: auto;
      }
    }
  }

  .form-title {
    @include flex(0 0 30%);
    @include media_interval($media1024, 0) {
      padding-right: 20px;
      @include border-box;
    }
    @include media_interval(0, $media1024) {
      margin-bottom: 30px;
    }
  }

  .form-fields {
    @include flex(1 1 auto);
    @include flex(1 1 auto);
  }

  .btn {
    margin-left: 25px;
  }

  // блок формы с полями ввода
  &.input-form {
    .field {
      width: 380px;

      &.required label:after {
        content: '*:';
      }

      &.invalid .label-holder {
        @include media_interval($media768, 0) {
          margin-top: -22px;
        }
      }
    }

    .label-holder {
      color: $brown;
      @include media_interval($media768, 0) {
        display: inline-block;
        margin-bottom: 0;
        width: 100px;
        vertical-align: middle;
      }
    }

    .control {
      @include media_interval($media768, 0) {
        display: inline-block;
        width: 280px;
        vertical-align: middle;
      }
    }
  }

  // галочка согласия на обработку данных
  .field-agreement {
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        @include opacity(0.8);
      }
    }
  }
}

.boxberry-form {
  .boxberry-popup {
    margin: 30px 0 0;
    min-width: 150px;
  }
}
