@import "mixins";


.products {
  @include flexbox;
  @include flex-flow(row wrap);
  @include align-items(stretch);
  @include justify-content(flex-start);

  .product {
    @include flexbox;
    @include flex-flow(column nowrap);

    .product-inner {
      padding: 20px;
      background-color: $white;
      @include flexbox;
      @include flex(1 auto);
      @include flex-flow(column nowrap);

      &:hover {
        @include box-shadow(0px 2px 6px rgba(128, 128, 128, 0.4));
      }
    }

    .align-top {
      @include flex(1 auto);

      .product-link {
        display: block;
        text-align: center;
      }

      .product-title {
        text-align: left;
        @include font-size(14px);
      }

      .product-photo {
        margin-bottom: 10px;
      }
    }

    .align-bottom {
      margin-top: 18px;
      @include media_interval(0, $media360) {
        margin-top: 12px;
      }

      .product-price {
        color: $green;
        font-weight: bold;
        white-space: nowrap;
        @include font-size(18px);
        @include media_interval(0, $media768) {
          @include font-size(16px);
        }
      }

      .product-add-btn {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 6px;
        z-index: 1;
      }
    }
  }
}