@import "mixins";


.ui-selectmenu-button {
  padding: 8px 40px 9px 16px;
  outline: none;
  border: none;
  max-width: 100%;
  font-weight: bold;
  background: #FFFFFF;
  @include border-box;
  @include font_default;
  @include font-size(16px);
  @include border_radius(0);
  @include media_interval(0, $media480) {
    padding: 7px 40px 7px 10px;
  }

  span.ui-selectmenu-text {
    padding: 0;
    white-space: normal;
  }

  .ui-icon-triangle-1-s {
    width: 18px;
    height: 14px;
    background: $sprite_url no-repeat -18px -240px;
    @include transition-property(-webkit-transform, transform);
    @include transition-duration(0.2s);
  }

  &[aria-expanded="true"] {
    .ui-icon-triangle-1-s {
      @include transform(rotate(-180deg));
    }
  }
}

// Селект с ошибкой
.errors {
  .ui-selectmenu-button {
    border: 2px solid $red;
    background-color: #FFECE3;
  }
}


.ui-selectmenu-menu {
  z-index: 101;
  @include border-box;

  .ui-menu {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    border-right: 1px solid #BEC8D1;
    border-left: 1px solid #BEC8D1;
    border-bottom: 1px solid #BEC8D1;
    background-color: #FFFFFF;
    @include border-box;
    @include border_radius(0 0 4px 4px);
  }

  .ui-menu-item {
    margin: 0;
    padding: 5px 1em 5px 14px;
    font-weight: bold;
    @include font_default;
    @include font-size(16px);
    @include media_interval(0, $media480) {
      padding-right: 8px;
      @include font-size(14px);
    }

    &.ui-state-focus {
      border: none;
      background: $gray;
    }
  }
}