@import 'mixins';

header {
  position: relative;
  z-index: 2;

  .flexbox {
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 50px;
    max-width: $grid_max_width;
    @include flexbox;
    @include flex-flow(row wrap);
    @include align-items(flex-end);
    @include justify-content(space-between);
    @include media_interval(0, $media1100) {
      padding-bottom: 20px;
      border-bottom: 2px solid #eeebe9;
      @include align-items(center);

      &:before {
        content: '';
        display: block;
        margin: 20px 0;
        height: 2px;
        background: #EEEBE9;
        @include order(5);
        @include flex(0 0 100%);
      }
    }
    @include media_interval($media480, $media1100) {
      padding-top: 20px;
    }
    @include media_interval(0, $media480) {
      padding-top: 16px;
    }
  }

  // img size: 240x55; sprite size: 832x186
  .logo {
    display: inline-block;
    width: 240px;
    @include media_map(margin-left, $grid_full_paddings);
    @include media_interval(0, $media480) {
      width: 140px;
    }

    &:after {
      content: '';
      display: block;
      height: 0;
      padding-bottom: 22.917%;
      background: $sprite_url no-repeat 0 0;
      background-size: rel-background-size(240px, 55px);
    }
  }

  .mobile-container {
    display: none;
    @include media_map(padding-right, $grid_full_paddings);
    @include media_interval(0, $media1100) {
      display: block;
    }

    .header-auth-mobile {
      display: inline-block;
    }
  }

  .search {
    @include flex(1 0 0);
    @include media_interval(0, $media1100) {
      @include order(10);
      @include media_map(margin-left, $grid_full_paddings);
    }
    @include media_interval(0, $media860) {
      display: none;
    }

    .search-form {
      padding: 0 40px 0 50px;
      @include media_interval(0, $media1100) {
        padding-left: 0;
      }
    }

    .field {
      .control {
        position: relative;
        font-weight: normal;
        border: 1px solid #E5E1DE;
      }

      input {
        padding-right: 46px;
      }

      .loop {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        width: 25px;
        height: 27px;
        background: $sprite_url no-repeat 0px -270px;
        @include transform(translate(0, -50%));
        @include transition(transform 0.5s);

        &:hover {
          @include transform(translate(0, -50%) scale(1.5));
        }
      }
    }
  }

  .buttons {
    position: relative;
    z-index: 1;
    @include media_map(padding-right, $grid_full_paddings);
    @include media_interval($media860, $media1100) {
      text-align: right;
      @include order(10);
      @include flex(0 1 auto);
    }
    @include media_interval(0, $media860) {
      text-align: right;
      @include order(10);
      @include flex(1 0 auto);
    }
    @include media_interval(0, $media640) {
      @include flexbox;
      @include flex-flow(row wrap);
      @include align-items(center);
      @include justify-content(space-between);
      @include media_map(padding-left, $grid_full_paddings);
    }

    .phone {
      color: $brown;
      @include media_interval(0, $media1100) {
        vertical-align: middle;
      }
      @include media_interval(0, $media480) {
        @include font-size(14px);
      }
    }

    .btn {
      margin-left: 18px;
      @include media_interval(0, $media480) {
        margin-left: 0;
      }
    }

    .header-auth {
      display: inline-block;
      @include media_interval(0, $media1100) {
        display: none;
      }
    }
  }

  &.with-cart {
    padding-top: 80px;
    @include media_interval(0, $media480) {
      padding-top: 76px;
    }
  }
}

#mobile-auth-button {
  display: inline-block;
  margin-right: 20px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  vertical-align: middle;
  background: $sprite_url no-repeat -38px -187px;
  @include unselectable;
}