{% extends 'layout.html' %}

{% load pipeline_plus %}
{% load contacts %}
{% load text %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'dealers_page' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'dealers_page' %}
{% endblock static_js %}


{% block content %}

  <div class="content-header green-overlay">
    <img src="{{ config.background.desktop.url }}" class="parallax"
        srcset="{{ config.background.desktop.srcset }},
                {{ config.background.tablet.srcset }},
                {{ config.background.mobile.srcset }}"
        sizes="100vw" alt="{{ config.background_alt }}">

    <div class="overlay block grid">
      <div class="left-column gc-wide-6 gc-6">
        <h1 class="page-title title-h1">{{ config.header }}</h1>
        <div class="text-styles">{{ config.description|typograf|safe }}</div>
      </div>

      <div class="right-column gc-wide-6 gc-6">
        <div class="advantages">
          {% for advantage in config.advantages.all %}
            <div class="advantage">
              <div class="icon-green icon-{{ advantage.icon }}"></div>
              <div class="name">{{ advantage.title }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="content block">
    <div class="grid">
      <div class="left-column gc-wide-6 gc-6">
        <div class="text-styles">{{ config.text|typograf|safe }}</div>
      </div>

      <div class="right-column gc-wide-6 gc-6">
        {% contacts_form %}
      </div>
    </div>
  </div>

{% endblock content %}
