{% load form_helper %}
{% load i18n %}
{% load menu %}
{% load text %}


<div class="flexbox">
  <a href="{% url 'index' %}" class="flex-item logo"></a>

  <div class="flex-item mobile-container">
    <span id="mobile-menu-button"></span>
  </div>

  <div class="flex-item search">
    <form action="{% url 'search:index' %}" class="search-form">
      {% render_form form %}
    </form>
  </div>

  <div class="flex-item buttons">
    {% if config.phone %}
      <a href="tel:{{ config.phone|phone }}" class="phone">{{ config.phone }}</a>
    {% endif %}

    <button class="request-popup btn btn-medium"><span>{% trans 'Request a call' %}</span></button>
  </div>

  <div id="mobile-menu">
    <div class="grid-block">
      {% menu 'main' %}
    </div>
  </div>
</div>

<div id="main-menu">
  <div class="grid-block">
    {% menu 'main' %}
  </div>
</div>

{% include 'shop/header_categories.html' with categories=root_categories current=current_root discount_config=discount_config %}
