{% load text %}
{% load i18n %}


<div id="mainslider_block">

  <ul class="slider no-slider">
    {% for item in block.slides.all %}
      <li class="slider-item green-overlay">
        <img src="{{ item.image.desktop.url }}"
             srcset="{{ item.image.mobile.url }} {{ item.image.variations.mobile.size.0 }}w,
                     {{ item.image.tablet.url }} {{ item.image.variations.tablet.size.0 }}w,
                     {{ item.image.desktop.url }} {{ item.image.variations.desktop.size.0 }}w"
             sizes="100vw" alt="{{ item.image_alt }}">

        <div class="overlay grid">
          <div class="inner">
            <div class="title">
              <span class="leaf"></span>
              {{ item.title }}
            </div>

            <div class="bottom">
              {% if item.price %}
                <div class="price">
                  {{ item.price }}
                </div>
              {% endif %}

              {% if item.product and item.product.is_visible %}
                <a href="{{ item.product.get_absolute_url }}" class="btn btn-medium">
                  <span>{% trans 'Details' %}</span>
                </a>
              {% endif %}
            </div>
          </div>
        </div>

      </li>
    {% endfor %}
  </ul>

</div>