{% load text %}


{% with suppliers=block.suppliers.all|slice:"5" %}
  {% if suppliers %}
    <div id="suppliers_block" class="page-block">

      <div class="grid">
        <div class="gc">
          <div class="title title-h2">{{ block.header }}</div>
        </div>

        <div class="suppliers">
          {% for supplier in suppliers %}
            {% if supplier.website %}
              <a href="{{ supplier.website }}" class="supplier" target="_blank">
                <img src="{{ supplier.logo.normal.url }}" alt="">
              </a>
            {% else %}
              <span class="supplier">
                <img src="{{ supplier.logo.normal.url }}" alt="">
              </span>
            {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>
  {% endif %}
{% endwith %}