html {
    min-height: 100%;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

body > *:first-child {
    margin-top: 0;
}

p img {
    max-width: 100%;
    height: auto;
}

p iframe {
    max-width: 100%;
}

table {
    border: 0 !important;
    border-collapse: collapse;
    margin-bottom: 1em;
}
th, td {
    border: 1px solid #808080 !important;
    padding: 3px 5px;
}
th {
    background-color: #dadada;
}

p {
    margin-top: 0;
}

h1, h2, h3, h4 {
    margin: 1em 0 0.2em;
}

ul, ol {
  padding-left: 18px;
}

li {
    padding: 3px 0;
}

blockquote {
    margin: 1.2em 0;
    padding: 1em;
    color: white;
    background-color: #ff5001;
}

blockquote > *:last-child {
    margin-bottom: 0;
}

.no-margin {
    margin-bottom: 0;
}

.no-margin + * {
    margin-top: 0;
}
