@import "mixins";

.rating {
  .stars {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;

    &:hover {
      li {
        @include opacity(1);
      }
    }

    li:hover ~ li {
      @include opacity(0.4);
    }

    @for $index from 1 through 5 {
      &.voted-#{$index} {
        & > li {
          @include opacity(0.4);
        }

        & > li:nth-last-child(n+#{5 - $index + 1}) {
          @include opacity(1);
        }
      }
    }
  }

  li {
    display: inline-block;
    padding: 0 1px;
    cursor: pointer;
    vertical-align: middle;
    @include opacity(0.4);

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }

    &:before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background: $sprite_url no-repeat -72px -254px;
    }
  }
}
