<div class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
  <meta itemprop="ratingValue" content="{{ rating.avg|floatformat:"2" }}">
  <meta itemprop="reviewCount" content="{{ rating.count }}">

  {% csrf_token %}
  <ul class="stars {% if voted %}voted-{{ voted }}{% endif %}">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
