@import "mixins";

.button-filter {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;

  input {
    display: none;
  }

  .btn.active {
    color: black;
    background: 0 -10px #72e472;
    @include linear-gradient(to bottom, #62c462 0%, #72e472 100%);
    @include box-shadow(inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05));
  }
}
