@import 'mixins';

.testimonials {
  background: $gray;

  .testimonial {
    padding: 0 10px;
    margin-top: 20px;
    width: 33.33333%;
    float: left;
    @include border-box;
    @include media_interval($media900, $media1280) {
      width: 50%;
      &:nth-of-type(n+3) {
        display: none;
      }
    }
    @include media_interval(0, $media900) {
      width: 100%;
      &:nth-of-type(n+2) {
        margin-top: 30px;
      }
    }
  }
  .photo {
    margin-right: 20px;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    width: 64px;
    @include border_radius(50%);
    @include media_interval(0, $media380);
    img {
      width: 100%;
    }
  }
  .info {
    vertical-align: middle;
    display: inline-block;
  }
  .name {
    color: $brown;
    font-weight: bold;
    @include fontsize_default;
  }
  .position {
    font-weight: bold;
    @include font-size(14px);
  }
  .text {
    margin-top: 25px;
    @include font-size(14px);
  }
}