@import "mixins";

#blog-post {
  .section {
    .section-image {
      max-width: none;
    }
  }

  .post-header {
    text-align: left;
    padding: 250px 0 50px;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 4;
      @include linear-gradient(to top, rgba(#000, .9) 0%, transparent 50%);
    }
  }

  .preview {
    margin-bottom: 20px;
  }

  .title {
    margin: 10px 0;
    color: $white;
  }

  .date {
    color: #A0A0A0;
    margin-right: 10px;
    @include font-size(14px);
  }

  .tag{
    display: inline-block;
    @include font-size(14px);
  }

  .slider-slide {
    img {
      max-width: 100%;
    }
  }

  .social-buttons-ya {
    margin-top: 50px;
    border-top: 1px solid #ac9e95;
    padding-top: 9px;

    @include media_interval(0, $media768) {
      margin-top: 40px;
    }

    @include media_interval(0, $media400) {
      margin-top: 20px;
    }
  }
}
