@import "mixins";


.content {
  background: $gray;
}

#tags {
  margin-bottom: 60px;
  @include flexbox;
  @include align-items(flex-start);
  @include justify-content(flex-start);

  @include media_interval(0, $media768) {
    margin-bottom: 30px;
  }

  @include media_interval(0, $media400) {
    margin-bottom: 10px;
  }
  flex-wrap: wrap;

  .tag {
    display: inline-block;
    margin: 10px 20px 10px 0;
    color: $brown;
    @include font-size(14px);

    &.active {
      color: $green;
    }
  }
}

#posts {
  .post {
    margin-bottom: 50px;
    @include media_interval(0, $media768) {
      margin-bottom: 30px;
    }
  }

  .date {
    color: #A0A0A0;
    margin-right: 10px;
    @include font-size(14px);
  }

  .note {
    display: inline-block;
    color: $green;
    @include font-size(14px);
  }

  .title {
    margin: 5px 0;
    color: $brown;
    font-weight: bold;
    height: 67px;
    @include font-size(24px);
  }

  .preview {
    display: block;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
}